@import "reset.scss";
$bgd:#030303;
$clr_gold: #D0A452;
$clr_white: #FFFFFF;
$clr_black: #000000;
$fz: 16px;
$f_family: 'Montserrat';
$f_style: 'normal';
body{
    background: $clr_black;
    font-size: $fz;
    font-family:$f_family;
    font-style: $f_style;
}
.button{
    
    border: 1px solid $clr_gold;
    border-radius: 8px;
    font-size: 1.1em;
    line-height: 152%;
    color: $clr_white;
    transition: all 0.3s ease;
}
h2{
    color: $clr_white;
    font-size: 2.4em;
    text-align: center;
    font-weight: 700;
}
.container{
    max-width: 1200px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
   
}

%flex_style{
    display: flex;
    justify-content: center;
    align-items: center;
}
%button_hover{
    background: $clr_gold;
    color: $clr_black;
}
header{
    background-color: $clr_black;
}
.header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
    .container__header{
        max-width: 1180px;
        margin: 0 auto;
        padding: 0 10px;
    }
    .header__body{
        position: relative;
        
        display: flex;
        justify-content: center;
        height: 80px;
        align-items: center;
        column-gap: 10em;
        .logo{
            @extend %flex_style;
            column-gap: 0.5rem;
            z-index: 3;
            position: relative;
            .logo__title{
            
                display: flex;
                flex-direction: column;
                row-gap: 0.5em;
                h3{
                    width: 200px;
                    font-size: 0.9em;
                    color: $clr_gold;
                    
                }
            }
           
        }
        a{
            font-size: 1.5em;
        }
        
        .section{
            @extend %flex_style;
            column-gap: 1rem;
            z-index: 3;
            position: relative;
        } 
        .phone{
            @extend %flex_style;
            column-gap: 0.5rem;
            color: $clr_gold;
            z-index: 3;
            position: relative;
        }
        h1{
            color: $clr_white;
            font-weight: 700;
        }
        .social-links{
            @extend %flex_style;
            color: $clr_white;  
            z-index: 3;
            position: relative;
        }
        .profile{
            @extend %flex_style;
            color: $clr_white;
            position: relative;
            z-index: 3;
            column-gap: 0.5rem;
            svg{
                color: $clr_gold; 
                margin-bottom: 2px;
            }
        }
        .section_profile{
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            row-gap: 0.1em;
            position: relative;
            z-index: 3;
            .profile__title{
                font-size: 0.9em;
            }
    
        }
        .header__menu{
            position: fixed;
            top:0%;
            right:-100%;
            width: 24%;
            height: 100%;
            background-color: $clr_black;
            padding: 100px 10px 20px 10px;
            transition: all 0.3s ease 0s;
            overflow: auto;
        }
        .header__burger{
            display: block;
            position: relative;
            width: 30px;
            height: 20px;
            position: relative;
            z-index: 3;
            cursor: pointer;
            span{
                background-color: $clr_white;
                position: absolute;
                width: 100%;
                height: 2px;
                left: 0;
                top: 9px;
                transition: all 0.3s ease 0s;
            }
            
           
        }
        .header__burger.active::before{
            transform: rotate(45deg);
            top:9px
        }
        .header__burger.active::after{
            transform: rotate(-45deg);
            bottom: 9px;
        }
        .header__burger.active{
            span{
                transform: scale(0);
            }
        }
        
        .header__burger::after, .header__burger::before{
            content: '';
            background-color: $clr_white;
            position: absolute;
            width: 100%;
            height: 2px;
            left: 0;
    
        }
        .header__burger::before{
            top: 0;
        }
        .header__burger::after{
            bottom: 0;
            transition: all 0.3s ease 0s;
        }
        .header__menu.active{
          
            right: 0%;
        }
        .header__logo{
            z-index: 3;
            position: relative;
        }
        .header__list{
            
            z-index: 2;
            .tablet_visible{
                display: none;
            }
            li{
                list-style: none;
                margin: 0 0 20px 20px;
                text-align: left;
                
                .header_link{
                    color: $clr_white;
                    text-transform: uppercase;
                    &:hover{
                        color: $clr_gold;
                        transition: all 0.3s ease 0s;
                    }
                    &:not(:hover) {
                        transition: all 0.3s ease 0s;
                    }
                    
                }
                .header_link.active{
                   
                    color: $clr_gold;
                    
                }
            }
        }
        
    }
}
header::before{
    content: '';
    position: absolute;
    top:0;
    left:0;
    height: 100%;
    width: 100%;
    background-color: $clr_black;
    z-index: 2;
}
.header_bottom{
    
    .top{
        margin-top: 5.3em;
        max-width: 100%;
       
        height: 5em;
        .header_bottom__content{
            position: relative;
           
            background: #D0A452;
           
            height: 5em;
            padding: 0;
            float: left;
            width: 100%;
            
            
            ul {
                clear: left;
                
                position: relative;
                right: 50%;
                float: right;
                text-align: center;
                list-style: none;
                padding: 0;
                margin: 0;
                .profile{
                    a{
                        border-left: 1px solid #E3E1DD;
                    }
                }
                li {
                    
                    position: relative;
                    left: 50%;
                    float: left;
                    height: 5em;
                    padding: 0;
                    margin: 0;
                    width: 200px;
                    a{
                        color: $clr_white;
                        font-weight: 700;
                        font-size: 1.2em;
                        border-right: 1px solid #E3E1DD;
                        
                        display: block;
                        padding: 20px 20px;
                        line-height: 40px;
                        height: 4em;
                        
                        
                    }
                    &:hover{
                        background: #c19748;
                    }
                    &:not(:hover) {
                   
                        transition: all 0.9s ease;
                        
                        
                    }
                    
                }
                .profile{
                    background: #c19748;
                    a{
                        text-decoration: underline;
                    }
                    
                }
            }
        }
   
    }
    
    .bottom{
        padding-top: 2em;
        
        margin-right: 33em;
        display: flex;
        flex-direction: column;
        row-gap: 0.2em;
        align-items: center;
        
        .bottom__title{
            margin-right: 15em;
            font-size: 1.5em;
            color: $clr_white;
            font-weight: 700;
            
            
            
    
        }
        ul.breadcrumb {
            padding: 10px 16px;
            list-style: none;
            color: $clr_white;
          }
        ul.breadcrumb li.breadcrumb__item {
            display: inline;
            font-size: 18px;
          }
        ul.breadcrumb li.breadcrumb__item+li.breadcrumb__item:before {
            padding: 8px;
            color: $clr_white;
            content: "/\00a0";
          } 
        ul.breadcrumb li.breadcrumb__item a {
            color: $clr_gold;
            text-decoration: none;
          } 
        ul.breadcrumb li.breadcrumb__item a:hover {
            
            text-decoration: underline;
          }
    }
}
.available_product{
    padding-top: 2.5em;
    h2{
        padding-bottom: 1.5em;
    }
   
    .product_items{
        
        @extend %flex_style;
        flex-direction: column;
        
        .subscription{
            margin-bottom: 1em;
            border: 1px solid $clr_white;
            min-width: 1000px;
            min-height: 30vh;
            border-radius: 10px;
            padding-bottom: 2em;
            padding-top: 1.5em;
            .subscription__top{
                @extend  %flex_style;
                column-gap: 47em;
             
                span{
                    color: $clr_gold;
                    font-size: 1.5em;
                    font-weight: 700;
                    padding-left: 1em;
                    
                }
                svg{
                    color: $clr_gold;
                    cursor: pointer;
                    &:hover{
                        color: $clr_white;
                    }
                    &:not(:hover) {
                   
                        transition: all 0.9s ease;
                        
                        
                    }
                }
            }
            
            .subscription__content{
                
                
                font-size: 1em;
                color: $clr_white;
                max-width: 700px;
                padding-left: 60px;
                .subscription__time{
                    color: $clr_white;
                    opacity: 0.6;
                    font-size: 1em;
                    
                }
                ol{
                    font-size: 1.1em;
                    list-style: none;
                    color: $clr_white;
                    padding: 10px 0px 0px 0px;
                }
                ol > li{
                    padding-left: 20px;
                    position: relative;
                    margin-top: 10px;
                }
                ol > li:before{
                    content: '✔';
                    position: absolute; top: 0; left: 0;
                    color: $clr_gold;
                }
                
            }
            .subscription__bottom{
                padding-top: 2em;
                @extend  %flex_style;
                column-gap: 40em;
                .subscription__price{
                    color: $clr_white;
                    font-size: 1.8em;
                    float: right;
                    
                    
                }
                .subscription__duration{
                    color: $clr_gold;
                    font-size: 1.5em;
                    
                    
                    max-width: 190px;
                    cursor: pointer;
                    &:hover{
                        text-decoration: underline;
                    }
                    &:not(:hover) {
                   
                        transition: all 0.9s ease;
                        
                        
                    }
                }
            }
           
        }
        .service{
            margin-bottom: 1em;
            border: 1px solid $clr_white;
            min-width: 1000px;
            min-height: 30vh;
            border-radius: 10px;
            padding-bottom: 2em;
            padding-top: 1.5em;
            .service__top{
                @extend  %flex_style;
                column-gap: 33em;
                
                span{
                    color: $clr_gold;
                    font-size: 1.5em;
                    font-weight: 700;
                    padding-left: 1em;
                    min-width: 400px;
                }
                svg{
                    color: $clr_gold;
                    cursor: pointer;
                    &:hover{
                        color: $clr_white;
                    }
                    &:not(:hover) {
                   
                        transition: all 0.9s ease;
                        
                        
                    }
                }
            }
            
            .service__content{
                
                
                font-size: 1em;
                color: $clr_white;
                max-width: 700px;
                padding-left: 60px;
                
                ol{
                    font-size: 1.1em;
                    list-style: none;
                    color: $clr_white;
                    padding: 10px 0px 0px 0px;
                }
                ol > li{
                    padding-left: 20px;
                    position: relative;
                    margin-top: 10px;
                }
                ol > li:before{
                    content: '✔';
                    position: absolute; top: 0; left: 0;
                    color: $clr_gold;
                }
                
            }
            .service__bottom{
                padding-top: 3.5em;
                @extend  %flex_style;
                column-gap: 38em;
                .service__price{
                    color: $clr_white;
                    font-size: 1.8em;
                    float: right;
                    
                }
                .service__duration{
                    color: $clr_gold;
                    font-size: 1.5em;
                    
                    
                    cursor: pointer;
                    &:hover{
                        text-decoration: underline;
                    }
                    &:not(:hover) {
                   
                        transition: all 0.9s ease;
                        
                        
                    }
                }
            }
            
           
        }
    }
}
footer{
    background-color: #24262b;
    padding: 50px 0;
    margin-top: 3.5em;
    
    .footer__content{
        max-width: 1100px;
	    margin: 0 auto;
    }
}
.footer__row{
    display: flex;
	flex-wrap: wrap;
    
    .footer__col{
        width: 25%;
        padding: 0 10px;
        h4{
            font-size: 18px;
	        color: $clr_white;
	        text-transform: capitalize;
	        margin-bottom: 35px;
	        position: relative;
            &::before{
                content: '';
	            position: absolute;
	            left:0;
	            bottom: -10px;
	            background-color: $clr_gold;
	            height: 2px;
	            box-sizing: border-box;
	            width: 50px;
            }
        }
        .footer__phone{
            font-size: 18px;
            color: $clr_gold;
        }
        .footer__timetable{
            font-size: 16px;
            color: $clr_white;
        }
        .footer__logo{
            overflow: hidden;
            display: flex;
            margin-top: 5px;
            .title{
                font-size: 19px;
                color: $clr_white;
	            margin-left: 5px;
	            margin-top: 15px;
            }
        }
        ul{
            li{
                &:not(:last-child){
                    margin-bottom: 10px;
                }
                a{
                    font-size: 16px;
	                text-transform: capitalize;
	                color: $clr_white;
	                text-decoration: none;
	                font-weight: 300;
	                color: #bbbbbb;
	                display: block;
	                transition: all 0.3s ease;
                    &:hover{
                        color: $clr_white;
	                    padding-left: 8px;
                    }
                    &:not(:hover) {
                   
                        transition: all 0.9s ease;
                        
                        
                    }
                }
            }
        }
        .social_links{
            a{
                display: inline-block;
	            height: 40px;
	            width: 40px;
	            background-color: rgba(255,255,255,0.2);
	            margin:0 10px 10px 0;
	            text-align: center;
	            line-height: 40px;
	            border-radius: 50%;
	            color: $clr_white;
	            transition: all 0.5s ease;
                &:hover{
                    color: #24262b;
	                background-color: $clr_white;
                }
                &:not(:hover) {
                   
                    transition: all 0.9s ease;
                    
                    
                }
            }
        }
    }

}
@media screen and (max-width:1245px){
    .header{
        .header__body{
            
            .header__menu{
                width: 35%;
            }
        }
    }
    
}
@media screen and (max-width:1200px){
    .container{
        max-width: 970px;  
        
        
    }
    .header_bottom{
        .top{
            .header_bottom__content{
                ul{
                    li{
                        width: 150px;
                        a{
                            padding: 20px 5px;
                        }
                    }
                }
            }
        }
        
        .bottom{
            margin-right: 30em;
        }
        
    }
    
    .header{
        .header__body{
            .social-links{
                display: none;
            }
            column-gap: 8em;
            .header__menu{
                width: 33%;
            }
        }
    }
    .available_product{
        .product_items{
            .subscription{
                min-width: 870px;
                .subscription__top{
                    column-gap: 40em; 
                }
                .subscription__bottom{
                    column-gap: 31.5em;
                }
            }
            .service{
                min-width: 870px; 
                .service__top{
                    column-gap: 25em; 
                }
               
                .service__bottom{
                    column-gap: 30em;
                }
            }
            
        }    
        
    }
   
    .desktop_big{
        display: none;
       }
    
   
}
@media screen and  (max-width:992px){
    .container{
        max-width: 750px;
        
        
    }
    .header{
        .header__body{
            column-gap: 10.5em;
            .icon-tabler-phone-call{
                display: none;
            }
           
            .phone{
                display: none;
            }
           .header__menu{
                width: 40%;
           }
        }
    }
    .header_bottom{
        .bottom{
            margin-right: 17em;
        }
    }
   .desktop_small{
        display: none;
   } 
   .available_product{
        .product_items{
            .subscription{
                min-width: 700px;
                .subscription__top{
                    column-gap: 30em; 
                }
                .subscription__bottom{
                    column-gap: 21em;
                }
    
            }
            .service{
                min-width: 700px; 
                .service__top{
                    column-gap: 15em; 
                }
                .service__bottom{
                    column-gap: 19.5em;
                }
            }
        
        }    
        
    }
    
}
@media screen and (max-width:781px){
    .container{
        max-width: none;
       
       
       
    }
    .header_bottom{
        .bottom{
            padding-top: 0.5em;
            margin-right: 10em;
        }
    }
    .header{
        .header__body{
            column-gap: 5em;
           .header__menu{
                width: 50%;
            }
            .header__list{
                .tablet_visible{
                    display: block;
                }
            }
            
        }
       
    }
    
    
    .tablet{
        display: none;
    }
    
    .available_product{
        .product_items{
            .subscription{
                min-width: 650px;
                .subscription__top{
                    column-gap: 25em; 
                }
                .subscription__bottom{
                    column-gap: 18em;
                }
    
            }
            .service{
                min-width: 650px; 
                .service__top{
                    column-gap: 10em; 
                }
                .service__bottom{
                    column-gap: 17em;
                }
            }
        
        }    
        
    }
    .info{
        flex: 0 0 45%;
    }
    .footer__row{
        justify-content: center;
        margin-right: 2em;
        .footer__logo{
            padding-top: -20px;
        }
    }
   
}
@media screen and (max-width:685px){
    
    .header_bottom{
        .bottom{
           
            margin-right: 4em;
        }
    }
    .header{
        .header__body{
            column-gap: 4rem;
           
            .phone{
                display: none;
            }
            .header__menu{
                width: 100%;
            }
            .header__list{

                li{
                    
                    text-align: center;
                    
                }
            }
           
        }
    }
    .available_product{
        .product_items{
            .subscription{
                min-width: 550px;
                .subscription__top{
                    column-gap: 20em; 
                }
                .subscription__bottom{
                    column-gap: 12em;
                }
    
            }
            .service{
                min-width: 550px; 
                .service__top{
                    column-gap: 5em; 
                }
                .service__bottom{
                    column-gap: 10.5em;
                }
            }
        
        }    
        
    }
    
    
}
@media screen and (max-width:575px){
    .header{
        .header__body{
            column-gap: 2rem;
           
           
           
        }
    }
    .header_bottom{
        .bottom{
            justify-content: center;
            margin-right: 1em;
            .bottom__title{
                margin-left: 1em;
            }
            ul.breadcrumb{
                padding-right: 1px;
                padding-left: 1px;
            }
            ul.breadcrumb li.breadcrumb__item+li.breadcrumb__item:before {
                padding: 3px;
                color: $clr_white;
                content: "/\00a0";
            } 
        }
    }
    .form{
        max-width: 450px;
        .form__title{
            font-size: 2em;
            
        }
        
    }
    
   .mobile{
    display: none;
   }
   .available_product{
        h2{
            font-size: 2em;
        }
    .product_items{
        .subscription{
            min-width: 470px;
            .subscription__top{
                column-gap: 15em; 
            }
            .subscription__bottom{
                column-gap: 7em;
            }

        }
        .service{
            min-width: 470px; 
            .service__top{
                column-gap: 0.1em; 
            }
            .service__bottom{
                column-gap: 5.5em;
            }
        }
    
    }    
    
}

}

