@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  background: #030303;
  font-size: 16px;
  font-family: "Montserrat";
  font-style: "normal";
}

.button {
  border: 1px solid #D0A452;
  border-radius: 8px;
  font-size: 1.1em;
  line-height: 152%;
  color: #FFFFFF;
  transition: all 0.3s ease;
}

h2 {
  color: #FFFFFF;
  font-size: 2.4em;
  text-align: center;
  font-weight: 700;
}

.container {
  max-width: 1200px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.search_item .form_toggle, .search_item, .header .header__body .profile, .header .header__body .social-links, .header .header__body .phone, .header .header__body .section, .header .header__body .logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sales .all_sales__button .button:hover {
  background: #D0A452;
  color: #000000;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}
.header .container__header {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 10px;
}
.header .header__body {
  position: relative;
  display: flex;
  justify-content: center;
  height: 80px;
  align-items: center;
  -moz-column-gap: 14em;
       column-gap: 14em;
}
.header .header__body .logo {
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem;
  z-index: 3;
  position: relative;
}
.header .header__body a {
  font-size: 1.5em;
}
.header .header__body .section {
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  z-index: 3;
  position: relative;
}
.header .header__body .phone {
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem;
  color: #D0A452;
  z-index: 3;
  position: relative;
}
.header .header__body h1 {
  color: #FFFFFF;
  font-weight: 700;
}
.header .header__body .social-links {
  color: #FFFFFF;
  z-index: 3;
  position: relative;
}
.header .header__body .profile {
  color: #FFFFFF;
  position: relative;
  z-index: 3;
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem;
}
.header .header__body .profile svg {
  color: #D0A452;
  margin-bottom: 2px;
}
.header .header__body .header__menu {
  position: fixed;
  top: 0%;
  right: -100%;
  width: 23%;
  height: 100%;
  background-color: #000000;
  padding: 100px 10px 20px 10px;
  transition: all 0.3s ease 0s;
  overflow: auto;
}
.header .header__body .header__burger {
  display: block;
  position: relative;
  width: 30px;
  height: 20px;
  position: relative;
  z-index: 3;
  cursor: pointer;
}
.header .header__body .header__burger span {
  background-color: #FFFFFF;
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  top: 9px;
  transition: all 0.3s ease 0s;
}
.header .header__body .header__burger.active::before {
  transform: rotate(45deg);
  top: 9px;
}
.header .header__body .header__burger.active::after {
  transform: rotate(-45deg);
  bottom: 9px;
}
.header .header__body .header__burger.active span {
  transform: scale(0);
}
.header .header__body .header__burger::after, .header .header__body .header__burger::before {
  content: "";
  background-color: #FFFFFF;
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
}
.header .header__body .header__burger::before {
  top: 0;
}
.header .header__body .header__burger::after {
  bottom: 0;
  transition: all 0.3s ease 0s;
}
.header .header__body .header__menu.active {
  right: 0%;
}
.header .header__body .header__logo {
  z-index: 3;
  position: relative;
}
.header .header__body .header__list {
  z-index: 2;
}
.header .header__body .header__list li {
  list-style: none;
  margin: 0 0 20px 20px;
  text-align: left;
}
.header .header__body .header__list li .header_link {
  color: #FFFFFF;
  text-transform: uppercase;
}
.header .header__body .header__list li .header_link:hover {
  color: #D0A452;
  transition: all 0.3s ease 0s;
}
.header .header__body .header__list li .header_link:not(:hover) {
  transition: all 0.3s ease 0s;
}
.header .header__body .header__list li .header_link.active {
  color: #D0A452;
}

header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #000000;
  z-index: 2;
}

.header_bottom .top {
  margin-top: 5.3em;
  margin-right: 67.5em;
}
.header_bottom .top h2 {
  font-size: 1.5em;
  color: #D0A452;
}
.header_bottom .bottom {
  text-align: center;
  margin-left: -1000px;
}
.header_bottom .bottom ul.breadcrumb {
  padding: 10px 16px;
  list-style: none;
  color: #FFFFFF;
}
.header_bottom .bottom ul.breadcrumb li.breadcrumb__item {
  display: inline;
  font-size: 18px;
}
.header_bottom .bottom ul.breadcrumb li.breadcrumb__item + li.breadcrumb__item:before {
  padding: 8px;
  color: #FFFFFF;
  content: "/ ";
}
.header_bottom .bottom ul.breadcrumb li.breadcrumb__item a {
  color: #D0A452;
  text-decoration: none;
}
.header_bottom .bottom ul.breadcrumb li.breadcrumb__item a:hover {
  text-decoration: underline;
}

.sales h2 {
  margin-top: 2em;
  font-size: 2em;
}
.sales .sales_items {
  margin: 2em 2em;
}
.sales .sales_items .sale {
  margin: 1em 1em;
  margin: 0 auto;
  max-width: 1150px;
}
.sales .sales_items .sale .sale__content {
  padding-top: 1.5em;
}
.sales .sales_items .sale .sale__content .sale__duration {
  color: #FFFFFF;
  opacity: 0.6;
}
.sales .sales_items .sale .sale__content .sale__title {
  color: #D0A452;
  font-size: 2.5em;
  line-height: 143%;
  font-weight: 700;
  line-height: 143%;
}
.sales .sales_items .sale .sale__content .sale__subtitle {
  font-size: 1.5em;
  line-height: 150%;
  color: #FFFFFF;
}
.sales .sales_items .sale .sale__content hr {
  max-width: 1150px;
  background-color: #FFFFFF;
  height: 2px;
  border-radius: 10px;
  margin-top: 30px;
}
.sales .sales_items .sale .sale__content .sale__button {
  display: flex;
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem;
}
.sales .sales_items .sale .sale__content .sale__button .button {
  color: #D0A452;
  font-size: 1.4em;
  padding-top: 30px;
  background: none;
  border: none;
  text-shadow: 1px 1px 1px #FFFFFF;
}
.sales .sales_items .sale .sale__content .sale__button .button span {
  font-size: 1.5em;
}
.sales .all_sales__button {
  text-align: center;
  margin-bottom: 0.5em;
}
.sales .all_sales__button .button {
  padding: 10px 30px;
}
.search_item {
  margin-top: 2em;
  -moz-column-gap: 3em;
       column-gap: 3em;
}
.search_item form {
  position: relative;
  width: 815px;
  margin: 0 auto;
}
.search_item form .search_item__value {
  width: 100%;
  height: 42px;
  padding-left: 10px;
  border: 1px solid #D0A452;
  border-radius: 10px;
  background: none;
  color: white;
  font-size: 1em;
}
.search_item form .search_item__value::-moz-placeholder {
  color: #FFFFFF;
  opacity: 0.8;
}
.search_item form .search_item__value:-ms-input-placeholder {
  color: #FFFFFF;
  opacity: 0.8;
}
.search_item form .search_item__value::placeholder {
  color: #FFFFFF;
  opacity: 0.8;
}
.search_item form button {
  position: absolute;
  top: 0;
  right: 0px;
  width: 42px;
  height: 42px;
  border: none;
  background: #D0A452;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}
.search_item form button .material-symbols-outlined {
  color: #FFFFFF;
  font-size: 20px;
}
.search_item .form_toggle .form_toggle-item input[type=radio] {
  display: none;
  height: 80px;
}
.search_item .form_toggle .form_toggle-item label {
  font-size: 1.1em;
  padding: 10px 20px;
  line-height: 34px;
  border: 1px solid #D0A452;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: #FFFFFF;
}
.search_item .form_toggle .item-1 label {
  border-radius: 10px 0 0 10px;
}
.search_item .form_toggle .item-2 label {
  border-radius: 0 10px 10px 0;
}
.search_item .form_toggle .item-1 input[type=radio]:checked + label {
  background: #D0A452;
  color: #000000;
}
.search_item .form_toggle .item-2 input[type=radio]:checked + label {
  background: #D0A452;
  color: #000000;
}

.form {
  border: 4px solid #FFFFFF;
  border-radius: 8px;
  position: relative;
  max-width: 700px;
  height: 325px;
  margin: 0 auto;
  margin-top: 1.5em;
}
.form .form__title {
  color: #D0A452;
  font-weight: 700;
  font-size: 2em;
  line-height: 133%;
  text-align: center;
  margin-top: 30px;
}
.form .form__content {
  font-weight: 400;
  font-size: 1em;
  line-height: 143%;
  max-width: 450px;
  margin: 0 auto;
  text-align: center;
  padding-top: 10px;
  color: #FFFFFF;
}
.form .form__phone {
  margin-top: 10px;
  text-align: center;
}
.form .form__phone .phone {
  padding: 20px 10px;
  background: #F2F6FA;
  border-radius: 8px;
  color: #000000;
  font-size: 1.5em;
  text-align: center;
}
.form .form__button {
  text-align: center;
  margin-top: 30px;
  transition: all 0.3s ease;
  cursor: pointer;
}
.form .form__button .button {
  background: #D0A452;
  padding: 10px 30px;
  font-size: 1.2em;
  color: #000000;
}
.form .form__button .button:hover {
  color: #FFFFFF;
  background: #000000;
  border: 1px solid #D0A452;
}

footer {
  background-color: #24262b;
  padding: 50px 0;
  margin-top: 3.5em;
}
footer .footer__content {
  max-width: 1100px;
  margin: 0 auto;
}

.footer__row {
  display: flex;
}
.footer__row .footer__col {
  width: 25%;
  padding: 0 10px;
}
.footer__row .footer__col h4 {
  font-size: 18px;
  color: #FFFFFF;
  text-transform: capitalize;
  margin-bottom: 35px;
  position: relative;
}
.footer__row .footer__col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #D0A452;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer__row .footer__col .footer__phone {
  font-size: 18px;
  color: #D0A452;
}
.footer__row .footer__col .footer__timetable {
  font-size: 16px;
  color: #FFFFFF;
}
.footer__row .footer__col .footer__logo {
  overflow: hidden;
  display: flex;
  margin-top: 5px;
}
.footer__row .footer__col .footer__logo .title {
  font-size: 19px;
  color: #FFFFFF;
  margin-left: 5px;
  margin-top: 15px;
}
.footer__row .footer__col ul.footer__col__list li.footer__col__item:not(:last-child) {
  margin-bottom: 10px;
}
.footer__row .footer__col ul.footer__col__list li.footer__col__item a {
  font-size: 16px;
  text-transform: capitalize;
  color: #FFFFFF;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}
.footer__row .footer__col ul.footer__col__list li.footer__col__item a:hover {
  color: #FFFFFF;
  padding-left: 8px;
}
.footer__row .footer__col .social_links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #FFFFFF;
  transition: all 0.5s ease;
}
.footer__row .footer__col .social_links a:hover {
  color: #24262b;
  background-color: #FFFFFF;
}

@media screen and (max-width: 1245px) {
  .header .header__body .header__menu {
    width: 35%;
  }
}
@media screen and (max-width: 1200px) {
  .container {
    max-width: 970px;
  }
  .container .header_bottom .top {
    margin-right: 54em;
  }
  .container .header_bottom .bottom {
    margin-left: -788px;
  }
  .container .search_item {
    -moz-column-gap: 2em;
         column-gap: 2em;
  }
  .container .search_item form {
    width: 565px;
  }
  .container .date_filter {
    margin-right: 25.5em;
    -moz-column-gap: 5.5em;
         column-gap: 5.5em;
  }
  .container .desktop_big {
    display: none;
  }
  .header .header__body {
    -moz-column-gap: 8em;
         column-gap: 8em;
  }
  .header .header__body .header__menu {
    width: 33%;
  }
}
@media screen and (max-width: 992px) {
  .container {
    max-width: 750px;
  }
  .container .header_bottom .top {
    margin-right: 40.5em;
  }
  .container .header_bottom .bottom {
    margin-left: -566px;
  }
  .container .search_item {
    flex-direction: column;
    row-gap: 1.5em;
  }
  .container .search_item form {
    width: 720px;
  }
  .container .search_item .form_toggle {
    margin-bottom: 0.3em;
    margin-right: 25.8em;
  }
  .container .date_filter {
    margin-top: 2em;
  }
  .header .header__body {
    -moz-column-gap: 7em;
         column-gap: 7em;
  }
  .header .header__body .icon-tabler-phone-call {
    display: none;
  }
  .header .header__body .social-links {
    display: none;
  }
  .header .header__body .profile__title {
    display: none;
  }
  .header .header__body .header__menu {
    width: 40%;
  }
}
@media screen and (max-width: 781px) {
  .container {
    max-width: none;
  }
  .container .header_bottom .top {
    margin-right: 36em;
  }
  .container .header_bottom .bottom {
    margin-left: -493px;
  }
  .container .search_item {
    margin-top: 1.5em;
  }
  .container .search_item form {
    width: 650px;
  }
  .container .search_item .form_toggle {
    margin-bottom: 0.3em;
    margin-right: 21.5em;
  }
  .header .header__body {
    -moz-column-gap: 5em;
         column-gap: 5em;
  }
  .header .header__body .phone {
    font-size: 1.4em;
  }
  .header .header__body .header__menu {
    width: 50%;
  }
  .form {
    max-width: 600px;
  }
  .tablet {
    display: none;
  }
  .inform {
    flex: 0 0 45%;
  }
  .footer__row {
    justify-content: center;
    margin-right: 2em;
  }
  .footer__row .footer__logo {
    padding-top: -20px;
  }
}
@media screen and (max-width: 685px) {
  .container .header_bottom .top {
    margin-right: 25.5em;
  }
  .container .header_bottom .bottom {
    margin-left: -325px;
  }
  .container .search_item form {
    width: 570px;
  }
  .container .search_item .form_toggle {
    margin-bottom: 0.3em;
    margin-right: 16.5em;
  }
  .header .header__body {
    -moz-column-gap: 7rem;
         column-gap: 7rem;
  }
  .header .header__body .phone {
    display: none;
  }
  .header .header__body .header__menu {
    width: 100%;
  }
  .header .header__body .header__list li {
    text-align: center;
  }
  .form {
    max-width: 500px;
  }
  .form .form__title {
    font-size: 1.5em;
  }
  .form .form__content {
    max-width: 450px;
  }
}
@media screen and (max-width: 575px) {
  .container .header_bottom .top {
    margin-right: 23.5em;
  }
  .container .header_bottom .bottom {
    margin-left: -295px;
  }
  .container .search_item form {
    width: 460px;
  }
  .container .search_item .form_toggle {
    margin-bottom: 0.3em;
    margin-right: 9.5em;
  }
  .header .header__body {
    -moz-column-gap: 6rem;
         column-gap: 6rem;
  }
  .form {
    max-width: 450px;
  }
  .form .form__title {
    font-size: 1.5em;
  }
  .form .form__content {
    max-width: 350px;
  }
}/*# sourceMappingURL=sales.css.map */