@import "reset.scss";
$bgd:#030303;
$clr_gold: #D0A452;
$clr_white: #FFFFFF;
$clr_black: #000000;
$fz: 16px;
$f_family: 'Montserrat';
$f_style: 'normal';
body{
    background: $bgd;
    font-size: $fz;
    font-family:$f_family;
    font-style: $f_style;
}

.button{
    
    border: 1px solid $clr_gold;
    border-radius: 8px;
    font-size: 1.1em;
    line-height: 152%;
    color: $clr_white;
    transition: all 0.3s ease;
}
h2{
    color: $clr_white;
    font-size: 2.4em;
    text-align: center;
    font-weight: 700;
}
.container{
    max-width: 1200px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
   
}

%flex_style{
    display: flex;
    justify-content: center;
    align-items: center;
}
%button_hover{
    background: $clr_gold;
    color: $clr_black;
}
.header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
    .container__header{
        max-width: 1180px;
        margin: 0 auto;
        padding: 0 10px;
    }
    .header__body{
        position: relative;
        
        display: flex;
        justify-content: center;
        height: 80px;
        align-items: center;
        column-gap: 14em;
        .logo{
            @extend %flex_style;
            column-gap: 0.5rem;
            z-index: 3;
            position: relative;
           
           
        }
        a{
            font-size: 1.5em;
        }
        
        .section{
            @extend %flex_style;
            column-gap: 1rem;
            z-index: 3;
            position: relative;
        } 
        .phone{
            @extend %flex_style;
            column-gap: 0.5rem;
            color: $clr_gold;
            z-index: 3;
            position: relative;
        }
        h1{
            color: $clr_white;
            font-weight: 700;
        }
        .social-links{
            @extend %flex_style;
            color: $clr_white;  
            z-index: 3;
            position: relative;
        }
        .profile{
            @extend %flex_style;
            color: $clr_white;
            position: relative;
            z-index: 3;
            column-gap: 0.5rem;
            svg{
                color: $clr_gold; 
                margin-bottom: 2px;
            }
        }
        .header__menu{
            position: fixed;
            top:0%;
            right:-100%;
            width: 23%;
            height: 100%;
            background-color: $clr_black;
            padding: 100px 10px 20px 10px;
            transition: all 0.3s ease 0s;
            overflow: auto;
        }
        .header__burger{
            display: block;
            position: relative;
            width: 30px;
            height: 20px;
            position: relative;
            z-index: 3;
            cursor: pointer;
            span{
                background-color: $clr_white;
                position: absolute;
                width: 100%;
                height: 2px;
                left: 0;
                top: 9px;
                transition: all 0.3s ease 0s;
            }
            
           
        }
        .header__burger.active::before{
            transform: rotate(45deg);
            top:9px
        }
        .header__burger.active::after{
            transform: rotate(-45deg);
            bottom: 9px;
        }
        .header__burger.active{
            span{
                transform: scale(0);
            }
        }
        
        .header__burger::after, .header__burger::before{
            content: '';
            background-color: $clr_white;
            position: absolute;
            width: 100%;
            height: 2px;
            left: 0;
    
        }
        .header__burger::before{
            top: 0;
        }
        .header__burger::after{
            bottom: 0;
            transition: all 0.3s ease 0s;
        }
        .header__menu.active{
          
            right: 0%;
        }
        .header__logo{
            z-index: 3;
            position: relative;
        }
        .header__list{
            
            z-index: 2;

            li{
                list-style: none;
                margin: 0 0 20px 20px;
                text-align: left;
                .header_link{
                    color: $clr_white;
                    text-transform: uppercase;
                    &:hover{
                        color: $clr_gold;
                        transition: all 0.3s ease 0s;
                    }
                    &:not(:hover) {
                        transition: all 0.3s ease 0s;
                    }
                    
                }
                .header_link.active{
                   
                    color: $clr_gold;
                    
                }
            }
        }
        
    }
}
header::before{
    content: '';
    position: absolute;
    top:0;
    left:0;
    height: 100%;
    width: 100%;
    background-color: $clr_black;
    z-index: 2;
}

.header_bottom{
   
    
    .top{
        margin-top: 5.3em;
        margin-right:67.5em;
        h2{
            font-size: 1.5em;
            color: $clr_gold;
        }
    }
    .bottom{
        text-align: center;
        margin-left: -1000px;
        ul.breadcrumb {
            padding: 10px 16px;
            list-style: none;
            color: $clr_white;
          }
        ul.breadcrumb li.breadcrumb__item {
            display: inline;
            font-size: 18px;
          }
        ul.breadcrumb li.breadcrumb__item+li.breadcrumb__item:before {
            padding: 8px;
            color: $clr_white;
            content: "/\00a0";
          } 
        ul.breadcrumb li.breadcrumb__item a {
            color: $clr_gold;
            text-decoration: none;
          } 
        ul.breadcrumb li.breadcrumb__item a:hover {
            
            text-decoration: underline;
          }
    }
} 
.sales{
    
    h2{
        margin-top: 2em;
        font-size: 2em;
    }
    .sales_items{
        margin: 2em 2em;
        .sale{
            margin: 1em 1em;
            margin: 0 auto;
            max-width: 1150px;
            .sale__content{
                
                padding-top: 1.5em;
                
                .sale__duration{
                    color: $clr_white;
                    opacity: 0.6;
                }
                .sale__title{
                    color: $clr_gold;
                    font-size: 2.5em;
                    line-height: 143%;
                    font-weight: 700;
                    line-height: 143%;
                    
                }
                .sale__subtitle{
                    font-size: 1.5em;
                    line-height: 150%;
                    color: $clr_white;
                }
                hr{
                    max-width: 1150px;
                    background-color: $clr_white;
                    height: 2px;
                    border-radius: 10px;
                    margin-top: 30px;
                }
                .sale__button{
                    display: flex;
                    column-gap: 0.5rem;
                    .button{
                        color: $clr_gold ;
                        font-size: 1.4em;
                        padding-top: 30px;
                        background: none;
                        border: none;
                        text-shadow: 1px 1px 1px $clr_white;
                        
                        span{
                            font-size: 1.5em;
                            
                        }
                    }
                }
            }
            
        }
    }
    .all_sales__button{
        
        text-align: center;
        
        margin-bottom: 0.5em;
        
        .button{
            padding: 10px 30px;
            
            &:hover{
                @extend %button_hover;
            }
        }
    }
}
.search_item{
    margin-top: 2em;
    @extend %flex_style;
    column-gap: 3em;
    form {
        position: relative;
        width: 815px;
        margin: 0 auto;
        
        .search_item__value {
            width: 100%;
            height: 42px;
            padding-left: 10px;
            border: 1px solid $clr_gold;
            border-radius: 10px;
            background: none;
            color: white;
            font-size: 1em;
            &::placeholder{
                color: $clr_white;
                opacity: 0.8;
                
            }
        }
        button {
            position: absolute; 
            top: 0;
            right: 0px;
            width: 42px;
            height: 42px;
            border: none;
            background: $clr_gold;
            border-radius: 0 5px 5px 0;
            cursor: pointer;
        
            .material-symbols-outlined{
                color: $clr_white;
                font-size: 20px;
            }
        }
    }
    
    .form_toggle {
        @extend %flex_style;
       
        .form_toggle-item {
            
            input[type=radio] {
                display: none;
                height: 80px;
            }
            label {
                
                font-size: 1.1em;
                padding: 10px 20px;   
                line-height: 34px;    
                border: 1px solid $clr_gold;
                
                cursor: pointer;
                user-select: none;   
                color: $clr_white;
                
            }
        }
        .item-1 label {
            border-radius: 10px 0 0 10px;
        }
        .item-2 label {
            border-radius: 0 10px 10px 0;
        }
        .item-1 input[type=radio]:checked + label {
            background: $clr_gold;
            color: $clr_black;
        }
        .item-2 input[type=radio]:checked + label {
            
            background: $clr_gold;
            color: $clr_black;
            
        }
    }
}



.form{
    border: 4px solid #FFFFFF;
    border-radius: 8px;
    position: relative;
    max-width: 700px;
    height: 325px;
    margin:0 auto;
    margin-top: 1.5em;
    
    .form__title{
        color: $clr_gold;
        font-weight: 700;
        font-size: 2em;
        line-height: 133%;
        text-align: center;
        margin-top: 30px;
    }
    .form__content{
        font-weight: 400;
        font-size: 1em;
        line-height: 143%;
        max-width: 450px;
        margin: 0 auto;
        text-align: center;
        padding-top: 10px;
        color: $clr_white;
    }
    .form__phone{
        margin-top: 10px;
        text-align: center;
        
        .phone{
            padding: 20px 10px;
            background: #F2F6FA;
            border-radius: 8px;
            color: $clr_black;
            font-size: 1.5em;
            text-align: center;  
        }
       
    }
    .form__button{
        text-align: center;
        margin-top: 30px;
        transition: all 0.3s ease;
        cursor: pointer;
        .button{
            background: #D0A452;
            padding: 10px 30px;
            font-size: 1.2em;
            color: $clr_black;
            &:hover{
                color: $clr_white;
                background: $clr_black;
                border: 1px solid $clr_gold;
            }
        }
    } 
}



 

footer{
    background-color: #24262b;
    padding: 50px 0;
    margin-top: 3.5em;
    
    .footer__content{
        max-width: 1100px;
	    margin: 0 auto;
    }
}
.footer__row{
    display: flex;
	
    
    .footer__col{
        width: 25%;
        padding: 0 10px;
        h4{
            font-size: 18px;
	        color: $clr_white;
	        text-transform: capitalize;
	        margin-bottom: 35px;
	        position: relative;
            &::before{
                content: '';
	            position: absolute;
	            left:0;
	            bottom: -10px;
	            background-color: $clr_gold;
	            height: 2px;
	            box-sizing: border-box;
	            width: 50px;
            }
        }
        .footer__phone{
            font-size: 18px;
            color: $clr_gold;
        }
        .footer__timetable{
            font-size: 16px;
            color: $clr_white;
        }
        .footer__logo{
            overflow: hidden;
            display: flex;
            margin-top: 5px;
            .title{
                font-size: 19px;
                color: $clr_white;
	            margin-left: 5px;
	            margin-top: 15px;
            }
        }
        ul.footer__col__list{
            li.footer__col__item{
                &:not(:last-child){
                    margin-bottom: 10px;
                }
                a{
                    font-size: 16px;
	                text-transform: capitalize;
	                color: $clr_white;
	                text-decoration: none;
	                font-weight: 300;
	                color: #bbbbbb;
	                display: block;
	                transition: all 0.3s ease;
                    &:hover{
                        color: $clr_white;
	                    padding-left: 8px;
                    }
                }
            }
        }
        .social_links{
            a{
                display: inline-block;
	            height: 40px;
	            width: 40px;
	            background-color: rgba(255,255,255,0.2);
	            margin:0 10px 10px 0;
	            text-align: center;
	            line-height: 40px;
	            border-radius: 50%;
	            color: $clr_white;
	            transition: all 0.5s ease;
                &:hover{
                    color: #24262b;
	                background-color: $clr_white;
                }
            }
        }
    }

}
@media screen and (max-width:1245px){
    .header{
        .header__body{
            
            .header__menu{
                width: 35%;
            }
        }
    }
    
}
@media screen and (max-width:1200px){
    .container{
        max-width: 970px;
       
        .header_bottom{
            .top{
                margin-right:54em;
            }
            .bottom{
                margin-left: -788px;
            }
            
        }
        .search_item{
            column-gap: 2em;
            form{
                width: 565px;
            }
            
        }
        .date_filter{
            margin-right: 25.5em;
            column-gap: 5.5em;

            
            
        }
        .desktop_big{
            display: none;
        }
     
    }
    .header{
        .header__body{
            column-gap: 8em;
            .header__menu{
                width: 33%;
            }
        }
    }
    
   
  
    
}
@media screen and  (max-width:992px){
    .container{
        max-width: 750px;
        
        
        .header_bottom{
            .top{
                margin-right:40.5em;
            }
            .bottom{
                margin-left: -566px;
            }
            
        }
        .search_item{
            flex-direction: column;
            row-gap: 1.5em;

            form{
                width: 720px;
            }
            .form_toggle{
                margin-bottom: 0.3em;
                margin-right: 25.8em;
            }
        }
        .date_filter{
            margin-top: 2em;
        }
    }
    .header{
        .header__body{
            column-gap: 7em;
            .icon-tabler-phone-call{
                display: none;
            }
            .social-links{
                display: none;
            }
            .profile__title{
                display: none;
            }
           .header__menu{
                width: 40%;
           }
        }
    }
    
    
    
}
@media screen and (max-width:781px){
    .container{
        max-width: none;
      
        .header_bottom{
            .top{
                margin-right:36em;
            }
            .bottom{
                margin-left: -493px;
            }
            
        }
        .search_item{
            margin-top: 1.5em;
            form{
                width: 650px;
            }
            .form_toggle{
                margin-bottom: 0.3em;
                margin-right: 21.5em;
            }
        }
        
    }
    .header{
        .header__body{
            column-gap: 5em;
            .phone{

                font-size: 1.4em;
           }
           .header__menu{
                width: 50%;
            }
        }
       
    }
    .form{
        max-width: 600px;
    }
    .tablet{
        display: none;
    }
    .inform{
        flex: 0 0 45%;
    }
    .footer__row{
        justify-content: center;
        margin-right: 2em;
        .footer__logo{
            padding-top: -20px;
        }
    }
    
   
    
}
@media screen and (max-width:685px){
    .container{
        
        .header_bottom{
            .top{
                margin-right:25.5em;
            }
            .bottom{
                margin-left: -325px;
            }
            
        }
        .search_item{
      
            form{
                width: 570px;
            }
            .form_toggle{
                margin-bottom: 0.3em;
                margin-right: 16.5em;
            }
        }
        
    }
    .header{
        .header__body{
            column-gap: 7rem;
           
            .phone{
                display: none;
            }
            .header__menu{
                width: 100%;
            }
            .header__list{

                li{
                    
                    text-align: center;
                    
                }
            }
           
        }
    }
    .form{
        max-width: 500px;
        .form__title{
            font-size: 1.5em;
            
        }
        .form__content{
            max-width: 450px;
        }
    }
    
}
@media screen and (max-width:575px){
    .container{
       
       
        .header_bottom{
            .top{
                margin-right:23.5em;
            }
            .bottom{
                margin-left: -295px;
            }
            
        }
        .search_item{
      
            form{
                width: 460px;
            }
            .form_toggle{
                margin-bottom: 0.3em;
                margin-right: 9.5em;
            }
        }
       
       
    }
    .header{
        .header__body{
            column-gap: 6rem;
           
           
           
        }
    }
    .form{
        max-width: 450px;
        .form__title{
            font-size: 1.5em;
            
        }
        .form__content{
            max-width: 350px;
        }
    }
    
   
}



