@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  background: #030303;
  font-size: 16px;
  font-family: "Montserrat";
  font-style: "normal";
}

.button {
  border: 1px solid #D0A452;
  border-radius: 8px;
  font-size: 1.1em;
  line-height: 152%;
  color: #FFFFFF;
  transition: all 0.3s ease;
}

h2 {
  color: #FFFFFF;
  font-size: 2.4em;
  text-align: center;
  font-weight: 700;
}

.container {
  max-width: 1200px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.content .content__bottom .cart_button, .content .content__bottom .final_price .final_price__content, .content .content__bottom .promo_code, .content .content__bottom .all_price, .content .content__products .service .service__top, .content .content__products .subscription .subscription__top, .content .content__products, .content .content__top .top__clear_cart, .content .content__top, .header .header__body .profile, .header .header__body .social-links, .header .header__body .phone, .header .header__body .section, .header .header__body .logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content .content__bottom .promo_code .promo_code__apply .button:hover {
  background: #D0A452;
  color: #000000;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}
.header .container__header {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 10px;
}
.header .header__body {
  position: relative;
  display: flex;
  justify-content: center;
  height: 80px;
  align-items: center;
  -moz-column-gap: 10em;
       column-gap: 10em;
}
.header .header__body .logo {
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem;
  z-index: 3;
  position: relative;
}
.header .header__body .logo .logo__title {
  display: flex;
  flex-direction: column;
  row-gap: 0.5em;
}
.header .header__body .logo .logo__title h3 {
  width: 200px;
  font-size: 0.9em;
  color: #D0A452;
}
.header .header__body a {
  font-size: 1.5em;
}
.header .header__body .section {
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  z-index: 3;
  position: relative;
}
.header .header__body .phone {
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem;
  color: #D0A452;
  z-index: 3;
  position: relative;
}
.header .header__body h1 {
  color: #FFFFFF;
  font-weight: 700;
}
.header .header__body .social-links {
  color: #FFFFFF;
  z-index: 3;
  position: relative;
}
.header .header__body .profile {
  color: #FFFFFF;
  position: relative;
  z-index: 3;
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem;
}
.header .header__body .profile svg {
  color: #D0A452;
  margin-bottom: 2px;
}
.header .header__body .section_profile {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  row-gap: 0.1em;
  position: relative;
  z-index: 3;
}
.header .header__body .section_profile .profile__title {
  font-size: 0.9em;
}
.header .header__body .header__menu {
  position: fixed;
  top: 0%;
  right: -100%;
  width: 24%;
  height: 100%;
  background-color: #000000;
  padding: 100px 10px 20px 10px;
  transition: all 0.3s ease 0s;
  overflow: auto;
}
.header .header__body .header__burger {
  display: block;
  position: relative;
  width: 30px;
  height: 20px;
  position: relative;
  z-index: 3;
  cursor: pointer;
}
.header .header__body .header__burger span {
  background-color: #FFFFFF;
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  top: 9px;
  transition: all 0.3s ease 0s;
}
.header .header__body .header__burger.active::before {
  transform: rotate(45deg);
  top: 9px;
}
.header .header__body .header__burger.active::after {
  transform: rotate(-45deg);
  bottom: 9px;
}
.header .header__body .header__burger.active span {
  transform: scale(0);
}
.header .header__body .header__burger::after, .header .header__body .header__burger::before {
  content: "";
  background-color: #FFFFFF;
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
}
.header .header__body .header__burger::before {
  top: 0;
}
.header .header__body .header__burger::after {
  bottom: 0;
  transition: all 0.3s ease 0s;
}
.header .header__body .header__menu.active {
  right: 0%;
}
.header .header__body .header__logo {
  z-index: 3;
  position: relative;
}
.header .header__body .header__list {
  z-index: 2;
}
.header .header__body .header__list .tablet_visible {
  display: none;
}
.header .header__body .header__list li {
  list-style: none;
  margin: 0 0 20px 20px;
  text-align: left;
}
.header .header__body .header__list li .header_link {
  color: #FFFFFF;
  text-transform: uppercase;
}
.header .header__body .header__list li .header_link:hover {
  color: #D0A452;
  transition: all 0.3s ease 0s;
}
.header .header__body .header__list li .header_link:not(:hover) {
  transition: all 0.3s ease 0s;
}
.header .header__body .header__list li .header_link.active {
  color: #D0A452;
}

header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #000000;
  z-index: 2;
}

.header_bottom .top {
  max-width: 100%;
  margin-top: 5.3em;
  height: 5em;
}
.header_bottom .top .header_bottom__content {
  position: relative;
  background: radial-gradient(#D0A452 50%, #000000);
  background: #D0A452;
  height: 5em;
  padding: 0;
  float: left;
  width: 100%;
}
.header_bottom .top .header_bottom__content ul {
  clear: left;
  position: relative;
  right: 50%;
  float: right;
  text-align: center;
  list-style: none;
  padding: 0;
  margin: 0;
}
.header_bottom .top .header_bottom__content ul .profile a {
  border-left: 1px solid #E3E1DD;
}
.header_bottom .top .header_bottom__content ul li {
  position: relative;
  left: 50%;
  float: left;
  height: 5em;
  padding: 0;
  margin: 0;
  width: 200px;
}
.header_bottom .top .header_bottom__content ul li a {
  color: #FFFFFF;
  font-weight: 700;
  font-size: 1.2em;
  border-right: 1px solid #E3E1DD;
  display: block;
  padding: 20px 20px;
  line-height: 40px;
  height: 4em;
}
.header_bottom .top .header_bottom__content ul li:hover {
  background: #c19748;
}
.header_bottom .top .header_bottom__content ul .cart {
  background: #c19748;
}
.header_bottom .top .header_bottom__content ul .cart a {
  text-decoration: underline;
}
.header_bottom .bottom {
  padding-top: 2em;
  margin-right: 46em;
  display: flex;
  flex-direction: column;
  row-gap: 0.2em;
  align-items: center;
}
.header_bottom .bottom .bottom__title {
  margin-right: 5.5em;
  font-size: 1.5em;
  color: #FFFFFF;
  font-weight: 700;
}
.header_bottom .bottom ul {
  margin-right: -1.5em;
}
.header_bottom .bottom ul.breadcrumb {
  padding: 10px 16px;
  list-style: none;
  color: #FFFFFF;
}
.header_bottom .bottom ul.breadcrumb li.breadcrumb__item {
  display: inline;
  font-size: 18px;
}
.header_bottom .bottom ul.breadcrumb li.breadcrumb__item + li.breadcrumb__item:before {
  padding: 8px;
  color: #FFFFFF;
  content: "/ ";
}
.header_bottom .bottom ul.breadcrumb li.breadcrumb__item a {
  color: #D0A452;
  text-decoration: none;
}
.header_bottom .bottom ul.breadcrumb li.breadcrumb__item a:hover {
  text-decoration: underline;
}

footer {
  background-color: #24262b;
  padding: 50px 0;
  margin-top: 3.5em;
}
footer .footer__content {
  max-width: 1100px;
  margin: 0 auto;
}

.footer__row {
  display: flex;
  flex-wrap: wrap;
}
.footer__row .footer__col {
  width: 25%;
  padding: 0 10px;
}
.footer__row .footer__col h4 {
  font-size: 18px;
  color: #FFFFFF;
  text-transform: capitalize;
  margin-bottom: 35px;
  position: relative;
}
.footer__row .footer__col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #D0A452;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer__row .footer__col .footer__phone {
  font-size: 18px;
  color: #D0A452;
}
.footer__row .footer__col .footer__timetable {
  font-size: 16px;
  color: #FFFFFF;
}
.footer__row .footer__col .footer__logo {
  overflow: hidden;
  display: flex;
  margin-top: 5px;
}
.footer__row .footer__col .footer__logo .title {
  font-size: 19px;
  color: #FFFFFF;
  margin-left: 5px;
  margin-top: 15px;
}
.footer__row .footer__col ul li:not(:last-child) {
  margin-bottom: 10px;
}
.footer__row .footer__col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #FFFFFF;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}
.footer__row .footer__col ul li a:hover {
  color: #FFFFFF;
  padding-left: 8px;
}
.footer__row .footer__col ul li a:not(:hover) {
  transition: all 0.9s ease;
}
.footer__row .footer__col .social_links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #FFFFFF;
  transition: all 0.5s ease;
}
.footer__row .footer__col .social_links a:hover {
  color: #24262b;
  background-color: #FFFFFF;
}
.footer__row .footer__col .social_links a:not(:hover) {
  transition: all 0.9s ease;
}

.header_bottom .bottom_cart {
  padding-top: 2em;
  margin-right: 46em;
  display: flex;
  flex-direction: column;
  row-gap: 0.2em;
  align-items: center;
}
.header_bottom .bottom_cart .bottom_cart__title {
  margin-right: 5.5em;
  font-size: 1.5em;
  color: #FFFFFF;
  font-weight: 700;
}
.header_bottom .bottom_cart ul {
  margin-right: -1.5em;
}
.header_bottom .bottom_cart ul.breadcrumb_cart {
  padding: 10px 16px;
  list-style: none;
  color: #FFFFFF;
}
.header_bottom .bottom_cart ul.breadcrumb_cart li.breadcrumb_cart__item {
  display: inline;
  font-size: 18px;
}
.header_bottom .bottom_cart ul.breadcrumb_cart li.breadcrumb_cart__item + li.breadcrumb_cart__item:before {
  padding: 8px;
  color: #FFFFFF;
  content: "/ ";
}
.header_bottom .bottom_cart ul.breadcrumb_cart li.breadcrumb_cart__item a {
  color: #D0A452;
  text-decoration: none;
}
.header_bottom .bottom_cart ul.breadcrumb_cart li.breadcrumb_cart__item a:hover {
  text-decoration: underline;
}

.content {
  margin-top: 2em;
  max-width: 1000px;
}
.content .content__top {
  margin-bottom: 1em;
  -moz-column-gap: 38rem;
       column-gap: 38rem;
}
.content .content__top .top__quantity {
  font-size: 1.3em;
  color: #FFFFFF;
}
.content .content__top .top__clear_cart {
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem;
}
.content .content__top .top__clear_cart span {
  color: #FFFFFF;
  font-size: 1.3em;
}
.content .content__top .top__clear_cart svg {
  color: #D0A452;
  margin-bottom: 3px;
}
.content .content__top .top__clear_cart:hover span {
  text-decoration: underline;
}
.content .content__top .top__clear_cart:not(:hover) {
  transition: all 0.9s ease;
}
.content .content__products {
  flex-direction: column;
}
.content .content__products .subscription {
  margin-bottom: 1em;
  border: 1px solid #FFFFFF;
  min-width: 1000px;
  min-height: 30vh;
  border-radius: 10px;
  padding-bottom: 2em;
  padding-top: 1.5em;
}
.content .content__products .subscription .subscription__top {
  -moz-column-gap: 47em;
       column-gap: 47em;
}
.content .content__products .subscription .subscription__top span {
  color: #D0A452;
  font-size: 1.5em;
  font-weight: 700;
  padding-left: 1em;
}
.content .content__products .subscription .subscription__top svg {
  color: #D0A452;
  cursor: pointer;
}
.content .content__products .subscription .subscription__top svg:hover {
  color: #FFFFFF;
}
.content .content__products .subscription .subscription__top svg:not(:hover) {
  transition: all 0.9s ease;
}
.content .content__products .subscription .subscription__content {
  font-size: 1em;
  color: #FFFFFF;
  max-width: 700px;
  padding-left: 60px;
}
.content .content__products .subscription .subscription__content .subscription__time {
  color: #FFFFFF;
  opacity: 0.6;
  font-size: 1em;
}
.content .content__products .subscription .subscription__content ol {
  font-size: 1.1em;
  list-style: none;
  color: #FFFFFF;
  padding: 10px 0px 0px 0px;
}
.content .content__products .subscription .subscription__content ol > li {
  padding-left: 20px;
  position: relative;
  margin-top: 10px;
}
.content .content__products .subscription .subscription__content ol > li:before {
  content: "✔";
  position: absolute;
  top: 0;
  left: 0;
  color: #D0A452;
}
.content .content__products .subscription .subscription__price {
  color: #FFFFFF;
  font-size: 1.8em;
  float: right;
  padding-right: 2em;
  margin-top: -0.6em;
}
.content .content__products .service {
  margin-bottom: 1em;
  border: 1px solid #FFFFFF;
  min-width: 1000px;
  min-height: 30vh;
  border-radius: 10px;
  padding-bottom: 2em;
  padding-top: 1.5em;
}
.content .content__products .service .service__top {
  -moz-column-gap: 33em;
       column-gap: 33em;
}
.content .content__products .service .service__top span {
  color: #D0A452;
  font-size: 1.5em;
  font-weight: 700;
  padding-left: 1em;
  min-width: 400px;
}
.content .content__products .service .service__top svg {
  color: #D0A452;
  cursor: pointer;
}
.content .content__products .service .service__top svg:hover {
  color: #FFFFFF;
}
.content .content__products .service .service__top svg:not(:hover) {
  transition: all 0.9s ease;
}
.content .content__products .service .service__content {
  font-size: 1em;
  color: #FFFFFF;
  max-width: 700px;
  padding-left: 60px;
}
.content .content__products .service .service__content ol {
  font-size: 1.1em;
  list-style: none;
  color: #FFFFFF;
  padding: 10px 0px 0px 0px;
}
.content .content__products .service .service__content ol > li {
  padding-left: 20px;
  position: relative;
  margin-top: 10px;
}
.content .content__products .service .service__content ol > li:before {
  content: "✔";
  position: absolute;
  top: 0;
  left: 0;
  color: #D0A452;
}
.content .content__products .service .service__price {
  color: #FFFFFF;
  font-size: 1.8em;
  float: right;
  padding-right: 2em;
  margin-top: -1em;
}
.content .content__products .service .service__time {
  color: #D0A452;
  font-size: 1.5em;
  margin-left: 60px;
  padding-top: 2em;
  max-width: 190px;
  cursor: pointer;
}
.content .content__products .service .service__time:hover {
  text-decoration: underline;
}
.content .content__products .service .service__time:not(:hover) {
  transition: all 0.9s ease;
}
.content .content__products .service .important_info {
  display: flex;
  align-items: center;
  -moz-column-gap: 0.1em;
       column-gap: 0.1em;
  color: #ffaeae;
  font-size: 1.2em;
  padding-left: 60px;
  padding-top: 5px;
}
.content .content__bottom .all_price {
  margin-top: 1.5em;
  -moz-column-gap: 2em;
       column-gap: 2em;
}
.content .content__bottom .all_price hr {
  min-width: 715px;
  background-color: #D0A452;
  height: 2px;
  border-radius: 10px;
}
.content .content__bottom .all_price span {
  color: #FFFFFF;
  font-size: 1.5em;
}
.content .content__bottom .promo_code {
  -moz-column-gap: 2.5em;
       column-gap: 2.5em;
  padding-top: 2em;
}
.content .content__bottom .promo_code input {
  padding: 20px 230px;
  background: #F2F6FA;
  border-radius: 8px;
  color: #000000;
  font-size: 1.5em;
  text-align: center;
}
.content .content__bottom .promo_code .promo_code__apply .button {
  padding: 20px 50px;
}
.content .content__bottom .promo_code .promo_code__apply .button:not(:hover) {
  transition: all 0.9s ease;
}
.content .content__bottom .final_price {
  padding-top: 3em;
}
.content .content__bottom .final_price .final_price__content {
  -moz-column-gap: 40.5em;
       column-gap: 40.5em;
}
.content .content__bottom .final_price .final_price__content span {
  color: #D0A452;
  font-size: 2em;
}
.content .content__bottom .final_price hr {
  min-width: 715px;
  background-color: #FFFFFF;
  height: 2px;
  border-radius: 10px;
  margin-top: 1em;
  margin-bottom: 1em;
}
.content .content__bottom .cart_button {
  padding-top: 1em;
  -moz-column-gap: 1em;
       column-gap: 1em;
  float: right;
}
.content .content__bottom .cart_button .button {
  background: #D0A452;
  color: #000000;
  padding: 20px 50px;
  font-weight: 700;
}
.content .content__bottom .cart_button .button:hover {
  background: none;
  color: #FFFFFF;
}
.content .content__bottom .cart_button .button:not(:hover) {
  transition: all 0.9s ease;
}
.content .content__bottom .cart_button span {
  max-width: 500px;
  color: #FFFFFF;
  opacity: 0.6;
  font-size: 0.8em;
  text-align: right;
}

@media screen and (max-width: 1245px) {
  .header .header__body .header__menu {
    width: 35%;
  }
}
@media screen and (max-width: 1200px) {
  .container {
    max-width: 970px;
  }
  .container .content {
    max-width: 900px;
  }
  .container .content .content__top {
    -moz-column-gap: 25.5em;
         column-gap: 25.5em;
  }
  .container .content .content__products .subscription {
    min-width: 870px;
  }
  .container .content .content__products .subscription .subscription__top {
    -moz-column-gap: 40em;
         column-gap: 40em;
  }
  .container .content .content__products .service {
    min-width: 870px;
  }
  .container .content .content__products .service .service__top {
    -moz-column-gap: 25em;
         column-gap: 25em;
  }
  .container .content .content__products .service .important_info {
    max-width: 500px;
  }
  .container .content .content__products .service .important_info svg {
    display: none;
  }
  .container .content .content__bottom hr {
    min-width: 590px;
  }
  .container .content .content__bottom .promo_code input {
    padding: 20px 165px;
  }
  .container .content .final_price .final_price__content {
    -moz-column-gap: 30.5em;
         column-gap: 30.5em;
  }
  .header .header__body {
    -moz-column-gap: 8em;
         column-gap: 8em;
  }
  .header .header__body .social-links {
    display: none;
  }
  .header .header__body .header__menu {
    width: 33%;
  }
  .header_bottom .top .header_bottom__content ul li {
    width: 150px;
  }
  .header_bottom .top .header_bottom__content ul li a {
    padding: 20px 5px;
  }
  .header_bottom .bottom_cart {
    margin-right: 39em;
  }
  .header_top {
    -moz-column-gap: 4rem;
         column-gap: 4rem;
  }
}
@media screen and (max-width: 992px) {
  .container {
    max-width: 750px;
  }
  .container .content {
    max-width: 700px;
  }
  .container .content .content__top {
    -moz-column-gap: 13.5em;
         column-gap: 13.5em;
  }
  .container .content .content__products .subscription {
    min-width: 700px;
  }
  .container .content .content__products .subscription .subscription__top {
    -moz-column-gap: 30em;
         column-gap: 30em;
  }
  .container .content .content__products .service {
    min-width: 700px;
  }
  .container .content .content__products .service .service__top {
    -moz-column-gap: 15em;
         column-gap: 15em;
  }
  .container .content .content__products .service .important_info {
    max-width: 500px;
  }
  .container .content .content__products .service .important_info svg {
    display: none;
  }
  .container .content .content__bottom hr {
    min-width: 420px;
  }
  .container .content .content__bottom .promo_code input {
    padding: 20px 80px;
  }
  .container .content .final_price .final_price__content {
    -moz-column-gap: 21.5em;
         column-gap: 21.5em;
  }
  .container .content .cart_button span {
    max-width: 400px;
  }
  .header .header__body {
    -moz-column-gap: 10.5em;
         column-gap: 10.5em;
  }
  .header .header__body .icon-tabler-phone-call {
    display: none;
  }
  .header .header__body .phone {
    display: none;
  }
  .header .header__body .header__menu {
    width: 40%;
  }
  .header_bottom .bottom_cart {
    margin-right: 27em;
  }
  .desktop_small {
    display: none;
  }
}
@media screen and (max-width: 781px) {
  .container {
    max-width: none;
  }
  .container .content {
    max-width: 600px;
  }
  .container .content .content__top {
    -moz-column-gap: 8.5em;
         column-gap: 8.5em;
  }
  .container .content .content__products .subscription {
    min-width: 650px;
  }
  .container .content .content__products .subscription .subscription__top {
    -moz-column-gap: 25em;
         column-gap: 25em;
  }
  .container .content .content__products .service {
    min-width: 650px;
  }
  .container .content .content__products .service .service__top {
    -moz-column-gap: 10em;
         column-gap: 10em;
  }
  .container .content .content__products .service .important_info {
    max-width: 450px;
  }
  .container .content .content__products .service .important_info svg {
    display: none;
  }
  .container .content .content__bottom hr {
    min-width: 370px;
  }
  .container .content .content__bottom .promo_code input {
    padding: 20px 55px;
  }
  .container .content .final_price .final_price__content {
    -moz-column-gap: 15.7em;
         column-gap: 15.7em;
  }
  .container .content .cart_button span {
    max-width: 300px;
  }
  .tablet {
    display: none;
  }
  .inform {
    flex: 0 0 45%;
  }
  .footer__row {
    justify-content: center;
    margin-right: 2em;
  }
  .footer__row .footer__logo {
    padding-top: -20px;
  }
  .header_bottom .bottom_cart {
    margin-top: 5em;
    padding-top: 0.5em;
    margin-right: 22em;
  }
  .header .header__body {
    -moz-column-gap: 5em;
         column-gap: 5em;
  }
  .header .header__body .header__menu {
    width: 50%;
  }
  .header .header__body .header__list .tablet_visible {
    display: block;
  }
}
@media screen and (max-width: 685px) {
  .container .content {
    max-width: 550px;
  }
  .container .content .content__products .subscription {
    min-width: 550px;
  }
  .container .content .content__products .subscription .subscription__top {
    -moz-column-gap: 20em;
         column-gap: 20em;
  }
  .container .content .content__products .subscription .subscription__price {
    padding-right: 1em;
  }
  .container .content .content__products .service {
    min-width: 550px;
  }
  .container .content .content__products .service .service__top {
    -moz-column-gap: 5em;
         column-gap: 5em;
  }
  .container .content .content__products .service .important_info {
    max-width: 390px;
  }
  .container .content .content__products .service .important_info svg {
    display: none;
  }
  .container .content .content__products .service .service__price {
    padding-right: 1em;
  }
  .container .content .content__bottom hr {
    min-width: 260px;
  }
  .container .content .content__bottom .promo_code input {
    padding: 20px 25px;
  }
  .container .content .content__bottom .promo_code .promo_code__apply .button {
    padding: 20px 25px;
  }
  .container .content .final_price .final_price__content {
    -moz-column-gap: 11.7em;
         column-gap: 11.7em;
  }
  .container .content .cart_button span {
    max-width: 260px;
  }
  .header_bottom .bottom_cart {
    margin-right: 17em;
  }
  .header .header__body {
    -moz-column-gap: 4rem;
         column-gap: 4rem;
  }
  .header .header__body .phone {
    display: none;
  }
  .header .header__body .header__menu {
    width: 100%;
  }
  .header .header__body .header__list li {
    text-align: center;
  }
}
@media screen and (max-width: 575px) {
  .container .content {
    max-width: 480px;
  }
  .container .content .content__top {
    -moz-column-gap: 13em;
         column-gap: 13em;
  }
  .container .content .content__top .top__clear_cart span {
    display: none;
  }
  .container .content .content__products .subscription {
    min-width: 470px;
  }
  .container .content .content__products .subscription .subscription__top {
    -moz-column-gap: 15em;
         column-gap: 15em;
  }
  .container .content .content__products .service {
    min-width: 470px;
  }
  .container .content .content__products .service .service__top {
    -moz-column-gap: 0.1em;
         column-gap: 0.1em;
  }
  .container .content .content__products .service .important_info {
    max-width: 300px;
  }
  .container .content .content__products .service .important_info svg {
    display: none;
  }
  .container .content .content__bottom hr {
    min-width: 190px;
  }
  .container .content .content__bottom .promo_code input {
    padding: 20px 10px;
  }
  .container .content .content__bottom .promo_code .promo_code__apply .button {
    padding: 20px 10px;
  }
  .container .content .final_price .final_price__content {
    -moz-column-gap: 7.7em;
         column-gap: 7.7em;
  }
  .container .content .cart_button span {
    max-width: 200px;
  }
  .header_bottom .bottom_cart {
    margin-right: 12em;
  }
  .header .header__body {
    -moz-column-gap: 2rem;
         column-gap: 2rem;
  }
}/*# sourceMappingURL=cart.css.map */