@import "../../layout/profile/header";
@import "../../layout/footer";
.header_bottom{
    
    .bottom_subscriptions{
        padding-top: 2em;
        
        margin-right: 36em;
        display: flex;
        flex-direction: column;
        row-gap: 0.2em;
        align-items: center;
        
        .bottom_subscriptions__title{
            margin-right: 10.5em;
            font-size: 1.5em;
            color: $clr_white;
            font-weight: 700;
            
            
            
    
        }
        ul.breadcrumb_subscriptions {
            padding: 10px 16px;
            list-style: none;
            color: $clr_white;
          }
        ul.breadcrumb_subscriptions li.breadcrumb_subscriptions__item {
            display: inline;
            font-size: 18px;
          }
        ul.breadcrumb_subscriptions li.breadcrumb_subscriptions__item+li.breadcrumb_subscriptions__item:before {
            padding: 8px;
            color: $clr_white;
            content: "/\00a0";
          } 
        ul.breadcrumb_subscriptions li.breadcrumb_subscriptions__item a {
            color: $clr_gold;
            text-decoration: none;
          } 
        ul.breadcrumb_subscriptions li.breadcrumb_subscriptions__item a:hover {
            
            text-decoration: underline;
          }
    }
}
.date_filter{
    display: flex;
    column-gap: 1em;
    align-items:center;
    justify-content:center;
    margin-right: 25em;
    margin-top: 3em;
    margin-bottom: 3em;
    span{
        color: $clr_white;
        font-size: 1.7em;
        
        padding-right: 1.5em;
    }
    .date_filter__items{
        @extend %flex_style;
        column-gap: 1em;
        
        input[type=date] {
            height: 30px;
            font-size: 1.2em;
            border-radius: 10px;
            background-color: none;
            color: $clr_black;
            padding-right: 0.5em;
            padding-left: 0.5em;
            
               
           
            
            &::-webkit-datetime-edit-month-field {
                color: $clr_black;
                
            }
            &::-webkit-datetime-edit-day-field {
                color: $clr_black;
                
                
            }
            &::-webkit-datetime-edit-year-field {
                color: $clr_black;
                
                
            }
           
                
        }
        label{
            color: $clr_gold;
            font-size: 1.6em;
        }

    }
}
.product_items{
    
    @extend %flex_style;
    flex-direction: column;
    
    .subscription{
        margin-bottom: 1em;
        border: 1px solid $clr_white;
        min-width: 1000px;
        min-height: 30vh;
        border-radius: 10px;
        padding-bottom: 2em;
        padding-top: 1.5em;
        .subscription__top{
            @extend  %flex_style;
            column-gap: 47em;
         
            span{
                color: $clr_gold;
                font-size: 1.5em;
                font-weight: 700;
                padding-left: 1em;
                
            }
            svg{
                color: $clr_gold;
                cursor: pointer;
                &:hover{
                    color: $clr_white;
                }
                &:not(:hover) {
                   
                    transition: all 0.9s ease;
                    
                    
                }
            }
        }
        
        .subscription__content{
            
            
            font-size: 1em;
            color: $clr_white;
            max-width: 700px;
            padding-left: 60px;
            .subscription__time{
                color: $clr_white;
                opacity: 0.6;
                font-size: 1em;
                
            }
            ol{
                font-size: 1.1em;
                list-style: none;
                color: $clr_white;
                padding: 10px 0px 0px 0px;
            }
            ol > li{
                padding-left: 20px;
                position: relative;
                margin-top: 10px;
            }
            ol > li:before{
                content: '✔';
                position: absolute; top: 0; left: 0;
                color: $clr_gold;
            }
            
        }
        .subscription__bottom{
            padding-top: 2em;
            @extend  %flex_style;
            column-gap: 30em;
            .subscription__price{
                color: $clr_white;
                font-size: 1.8em;
                float: right;
                
                
            }
            .subscription__duration{
                color: $clr_gold;
                font-size: 1.5em;
                
                
                max-width: 390px;
                cursor: pointer;
                &:hover{
                    text-decoration: underline;
                }
                &:not(:hover) {
                   
                    transition: all 0.9s ease;
                    
                    
                }
            }
        }
       
    }
    
}
@media screen and (max-width:1245px){
    .header{
        .header__body{
            
            .header__menu{
                width: 35%;
            }
        }
    }
    
}
@media screen and (max-width:1200px){
    .container{
        max-width: 970px;  
      
        
    }
    .header_bottom{
        .top{
            .header_bottom__content{
                ul{
                    li{
                        width: 150px;
                        a{
                            padding: 20px 5px;
                        }
                    }
                }
            }
        }
        
        .bottom_subscriptions{
            margin-right: 26em;
        }
        
    }
    
    .header{
        .header__body{
            .social-links{
                display: none;
            }
            column-gap: 8em;
            .header__menu{
                width: 33%;
            }
        }
    }
    .product_items{
                
        .subscription{
            min-width: 870px;
            .subscription__top{
                column-gap: 40em; 
            }
            .subscription__bottom{
                column-gap: 22em;
            }
            
        }
       
        
    }
    .date_filter{
        margin-right: 18em;
        span{
            padding-right: 0px;
        }
    }
   
    .desktop_big{
        display: none;
       }
    
   
}
@media screen and  (max-width:992px){
    .container{
        max-width: 750px;
        
        
    }
    .header{
        .header__body{
            column-gap: 10.5em;
            .icon-tabler-phone-call{
                display: none;
            }
           
            .phone{
                display: none;
            }
           .header__menu{
                width: 40%;
           }
        }
    }
    .header_bottom{
        .bottom_subscriptions{
            margin-right: 16em;
        }
    }
   .desktop_small{
        display: none;
   } 
    
   .product_items{
                
        .subscription{
            min-width: 700px;
            .subscription__top{
                column-gap: 30em; 
            }
            .subscription__bottom{
                column-gap: 12em;
            }
        
        }
   
    
    }
    .date_filter{
        margin-right: 16em;
        
    }
    
}
@media screen and (max-width:781px){
    .container{
        max-width: none;
       
       
       
    }
    .header_bottom{
        .bottom_subscriptions{
            padding-top: 5em;
            margin-right: 13em;
        }
    }
    .date_filter{
        margin-right: 12em;
        
    }
    .header{
        .header__body{
            column-gap: 5em;
           .header__menu{
                width: 50%;
            }
            .header__list{
                .tablet_visible{
                    display: block;
                }
            }
            
        }
       
    }
    
    .tablet{
        display: none;
    }
    
    
    .info{
        flex: 0 0 45%;
    }
    .footer__row{
        justify-content: center;
        margin-right: 2em;
        .footer__logo{
            padding-top: -20px;
        }
    }
    .product_items{
                
        .subscription{
            min-width: 650px;
            .subscription__top{
                column-gap: 25em; 
            }
            .subscription__bottom{
                column-gap: 8em;
            }
        
        }
   
    
    }
   
}
@media screen and (max-width:685px){
    .date_filter{
        margin-right: 7em;
        
    }
    .header_bottom{
        .bottom_subscriptions{
           
            margin-right: 8em;
        }
    }
    .header{
        .header__body{
            column-gap: 4rem;
           
            .phone{
                display: none;
            }
            .header__menu{
                width: 100%;
            }
            .header__list{

                li{
                    
                    text-align: center;
                    
                }
            }
           
        }
    }
    .product_items{
                
        .subscription{
            min-width: 550px;
            .subscription__top{
                column-gap: 20em; 
            }
            .subscription__bottom{
                column-gap: 2em;
            }
        
        }
   
    
    }
    
}
@media screen and (max-width:575px){
    .header{
        .header__body{
            column-gap: 2rem;
           
           
           
        }
    }
    .header_bottom{
        .bottom_subscriptions{
           
            margin-right: 2em;
        }
    }
    .date_filter{
        margin-right: 1em;
        
    }
    
   .mobile{
    display: none;
   }
   .product_items{
                
        .subscription{
            min-width: 470px;
            .subscription__top{
                column-gap: 15em; 
            }
            .subscription__bottom{
                column-gap: 1em;
            }
    
        }


    }

}