@import "../../core/_core";
.header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
    .container__header{
        max-width: 1180px;
        margin: 0 auto;
        padding: 0 10px;
    }
    .header__body{
        position: relative;
        
        display: flex;
        justify-content: center;
        height: 80px;
        align-items: center;
        column-gap: 10em;
        .logo{
            @extend %flex_style;
            column-gap: 0.5rem;
            z-index: 3;
            position: relative;
            .logo__title{
            
                display: flex;
                flex-direction: column;
                row-gap: 0.5em;
                h3{
                    width: 200px;
                    font-size: 0.9em;
                    color: $clr_gold;
                    
                }
            }
           
        }
        a{
            font-size: 1.5em;
        }
        
        .section{
            @extend %flex_style;
            column-gap: 1rem;
            z-index: 3;
            position: relative;
        } 
        .phone{
            @extend %flex_style;
            column-gap: 0.5rem;
            color: $clr_gold;
            z-index: 3;
            position: relative;
        }
        h1{
            color: $clr_white;
            font-weight: 700;
        }
        .social-links{
            @extend %flex_style;
            color: $clr_white;  
            z-index: 3;
            position: relative;
        }
        .profile{
            @extend %flex_style;
            color: $clr_white;
            position: relative;
            z-index: 3;
            column-gap: 0.5rem;
            svg{
                color: $clr_gold; 
                margin-bottom: 2px;
            }
        }
        .section_profile{
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            row-gap: 0.1em;
            position: relative;
            z-index: 3;
            .profile__title{
                font-size: 0.9em;
            }
    
        }
        .header__menu{
            position: fixed;
            top:0%;
            right:-100%;
            width: 24%;
            height: 100%;
            background-color: $clr_black;
            padding: 100px 10px 20px 10px;
            transition: all 0.3s ease 0s;
            overflow: auto;
        }
        .header__burger{
            display: block;
            position: relative;
            width: 30px;
            height: 20px;
            position: relative;
            z-index: 3;
            cursor: pointer;
            span{
                background-color: $clr_white;
                position: absolute;
                width: 100%;
                height: 2px;
                left: 0;
                top: 9px;
                transition: all 0.3s ease 0s;
            }
            
           
        }
        .header__burger.active::before{
            transform: rotate(45deg);
            top:9px
        }
        .header__burger.active::after{
            transform: rotate(-45deg);
            bottom: 9px;
        }
        .header__burger.active{
            span{
                transform: scale(0);
            }
        }
        
        .header__burger::after, .header__burger::before{
            content: '';
            background-color: $clr_white;
            position: absolute;
            width: 100%;
            height: 2px;
            left: 0;
    
        }
        .header__burger::before{
            top: 0;
        }
        .header__burger::after{
            bottom: 0;
            transition: all 0.3s ease 0s;
        }
        .header__menu.active{
          
            right: 0%;
        }
        .header__logo{
            z-index: 3;
            position: relative;
        }
        .header__list{
            
            z-index: 2;
            .tablet_visible{
                display: none;
            }
            li{
                list-style: none;
                margin: 0 0 20px 20px;
                text-align: left;
                
                .header_link{
                    color: $clr_white;
                    text-transform: uppercase;
                    &:hover{
                        color: $clr_gold;
                        transition: all 0.3s ease 0s;
                    }
                    &:not(:hover) {
                        transition: all 0.3s ease 0s;
                    }
                    
                }
                .header_link.active{
                   
                    color: $clr_gold;
                    
                }
            }
        }
        
    }
}
header::before{
    content: '';
    position: absolute;
    top:0;
    left:0;
    height: 100%;
    width: 100%;
    background-color: $clr_black;
    z-index: 2;
}
.header_bottom{
    
    .top{
        max-width: 100%;
        margin-top: 5.3em;
        height: 5em;
        .header_bottom__content{
            position: relative;
            background: radial-gradient(#D0A452 50%, #000000 );
            background: #D0A452;
           
            height: 5em;
            padding: 0;
            float: left;
            width: 100%;
            
            
            ul {
                clear: left;
                
                position: relative;
                right: 50%;
                float: right;
                text-align: center;
                list-style: none;
                padding: 0;
                margin: 0;
                .profile{
                    a{
                        border-left: 1px solid #E3E1DD;
                    }
                }
                li {
                    
                    position: relative;
                    left: 50%;
                    float: left;
                    height: 5em;
                    padding: 0;
                    margin: 0;
                    width: 200px;
                    a{
                        color: $clr_white;
                        font-weight: 700;
                        font-size: 1.2em;
                        border-right: 1px solid #E3E1DD;
                        
                        display: block;
                        padding: 20px 20px;
                        line-height: 40px;
                        height: 4em;
                        
                        
                    }
                    &:hover{
                        background: #c19748;
                    }
                    
                }
                .cart{
                    background: #c19748;
                    a{
                        text-decoration: underline;
                    }
                    
                }
            }
        }
   
    }
    
    
}