@import "reset.scss";
$bgd:#030303;
$clr_gold: #D0A452;
$clr_white: #FFFFFF;
$clr_black: #000000;
$fz: 16px;
$f_family: 'Montserrat';
$f_style: 'normal';
body{
    background: $bgd;
    font-size: $fz;
    font-family:$f_family;
    font-style: $f_style;
}

.button{
    
    border: 1px solid $clr_gold;
    border-radius: 8px;
    font-size: 1.1em;
    line-height: 152%;
    color: $clr_white;
    transition: all 0.3s ease;
}
h2{
    color: $clr_white;
    font-size: 2.4em;
    text-align: center;
    font-weight: 700;
}
.container{
    max-width: 1200px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
   
}

%flex_style{
    display: flex;
    justify-content: center;
    align-items: center;
}
%button_hover{
    background: $clr_gold;
    color: $clr_black;
}
.header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
    .container__header{
        max-width: 1180px;
        margin: 0 auto;
        padding: 0 10px;
    }
    .header__body{
        position: relative;
        
        display: flex;
        justify-content: center;
        height: 80px;
        align-items: center;
        column-gap: 14em;
        .logo{
            @extend %flex_style;
            column-gap: 0.5rem;
            z-index: 3;
            position: relative;
           
           
        }
        a{
            font-size: 1.5em;
        }
        
        .section{
            @extend %flex_style;
            column-gap: 1rem;
            z-index: 3;
            position: relative;
        } 
        .phone{
            @extend %flex_style;
            column-gap: 0.5rem;
            color: $clr_gold;
            z-index: 3;
            position: relative;
        }
        h1{
            color: $clr_white;
            font-weight: 700;
        }
        .social-links{
            @extend %flex_style;
            color: $clr_white;  
            z-index: 3;
            position: relative;
        }
        .profile{
            @extend %flex_style;
            color: $clr_white;
            position: relative;
            z-index: 3;
            column-gap: 0.5rem;
            svg{
                color: $clr_gold; 
                margin-bottom: 2px;
            }
        }
        .header__menu{
            position: fixed;
            top:0%;
            right:-100%;
            width: 23%;
            height: 100%;
            background-color: $clr_black;
            padding: 100px 10px 20px 10px;
            transition: all 0.3s ease 0s;
            overflow: auto;
        }
        .header__burger{
            display: block;
            position: relative;
            width: 30px;
            height: 20px;
            position: relative;
            z-index: 3;
            cursor: pointer;
            span{
                background-color: $clr_white;
                position: absolute;
                width: 100%;
                height: 2px;
                left: 0;
                top: 9px;
                transition: all 0.3s ease 0s;
            }
            
           
        }
        .header__burger.active::before{
            transform: rotate(45deg);
            top:9px
        }
        .header__burger.active::after{
            transform: rotate(-45deg);
            bottom: 9px;
        }
        .header__burger.active{
            span{
                transform: scale(0);
            }
        }
        
        .header__burger::after, .header__burger::before{
            content: '';
            background-color: $clr_white;
            position: absolute;
            width: 100%;
            height: 2px;
            left: 0;
    
        }
        .header__burger::before{
            top: 0;
        }
        .header__burger::after{
            bottom: 0;
            transition: all 0.3s ease 0s;
        }
        .header__menu.active{
          
            right: 0%;
        }
        .header__logo{
            z-index: 3;
            position: relative;
        }
        .header__list{
            
            z-index: 2;

            li{
                list-style: none;
                margin: 0 0 20px 20px;
                text-align: left;
                .header_link{
                    color: $clr_white;
                    text-transform: uppercase;
                    &:hover{
                        color: $clr_gold;
                        transition: all 0.3s ease 0s;
                    }
                    &:not(:hover) {
                        transition: all 0.3s ease 0s;
                    }
                    
                }
                .header_link.active{
                   
                    color: $clr_gold;
                    
                }
            }
        }
        
    }
}
header::before{
    content: '';
    position: absolute;
    top:0;
    left:0;
    height: 100%;
    width: 100%;
    background-color: $clr_black;
    z-index: 2;
}

.header_bottom{
   
    
    .top{
        margin-top: 5.3em;
        @extend %flex_style;
        column-gap: 46.5rem;
        h2{
            font-size: 1.5em;
            color: $clr_gold;
        }
        .favourites{
            @extend %flex_style;
            column-gap: 0.5rem;
            padding-left: 30px;
            color: $clr_white;
            span{
                
                font-size: 1em;
                
            }
            svg{
                color: $clr_gold;
                
            }
            &:hover{
                
                svg{
                    fill: $clr_gold ;
                    
                }
                
            }
            &:not(:hover) {
                transition: all 0.9s ease;
            }
        }
    }
    .bottom{
        text-align: center;
        margin-left: -750px;
        ul.breadcrumb {
            padding: 10px 16px;
            list-style: none;
            color: $clr_white;
          }
        ul.breadcrumb li.breadcrumb__item {
            display: inline;
            font-size: 18px;
          }
        ul.breadcrumb li.breadcrumb__item+li.breadcrumb__item:before {
            padding: 8px;
            color: $clr_white;
            content: "/\00a0";
          } 
        ul.breadcrumb li.breadcrumb__item a {
            color: $clr_gold;
            text-decoration: none;
          } 
        ul.breadcrumb li.breadcrumb__item a:hover {
            
            text-decoration: underline;
          }
    }
} 
.container_info{
    background: url(images/trainer/1.png);
    background-size: cover;
    max-width: 100%;
    min-height: 70vh;
    
    
 
    .info{
       
        margin: 0 auto;
        max-width: 1300px;
        padding-top: 1.5em;
        
        
        @extend %flex_style;
        gap: 4em;
        .info__img{
            padding-top: 30px;
            padding-left: 10px;
            border-radius: 10px;
        }
        .info__content{
            padding-right: 10px;
            
            color: $clr_white;
            h3{
               
                max-width: 500px;
                color: $clr_gold;
                font-size: 1.7em;
                font-weight: 700;
                
            }
           
            .text{
                
                margin-top: 50px;
                max-width: 500px;
                font-size: 1.3em;
                line-height: 143%;
                
                
            }
        }
    }
    
    
}
.destinations{
    display: flex;
    flex-direction: column;
    h2{
        margin-top: 1.5em;
        margin-bottom: 1em;
        
        
        
    }
    .destinations__items{
        @extend %flex_style;
        flex-wrap: wrap;
        max-width: 1300px;
        
       
        .destination{
            margin: 1.5em 1em;
            img{
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
                display: block;
            }
            .destination__content{
                border: 1px solid $clr_white;
                border-bottom-left-radius: 10px;
                border-bottom-right-radius: 10px;
                height: 287px;
                .destination__title{
                    font-size: 1.6em;
                    line-height: 143%;
                    padding: 20px 0px 0px 30px;
                    font-weight: 700;
                    color: $clr_gold;
                }
                .destination__subtitle{
                    font-size: 1em;
                    line-height: 150%;
                    color: $clr_white;
                    width: 250px;
                    height: 50px;
                    padding: 10px 0px 0px 30px;
                    margin-bottom: 80px;
                    
                }
                .button{
                    background: none;
                    padding: 30px 50px;
                    margin-left: 30px;
                    border: 1px solid $clr_gold;
                    &:hover{
                        @extend %button_hover;
                    }
                    &:not(:hover) {
                        transition: all 0.9s ease;
                    }
                    
                }
            }
    
        }
    }
    .destinations__button{
        text-align: center;
        display: none;
    }
    .button{
        
        padding: 10px 30px;
        margin-bottom: 1em;
        &:hover{
            @extend %button_hover;
        }
        &:not(:hover) {
            transition: all 0.9s ease;
        }
    }
    
}
.slick-list {
    overflow: hidden;
}

.slick-track{
    display: flex;
    align-items: flex-start;
}

.slider{
    margin: 3em auto;

    position: relative;
    padding: 0 60px;
    max-width: 1100px;
    .slider__item{
        text-align: center;
        opacity: 0.4;
        transition: all 0.3s ease 0s;
        width: 358px;
        height: 482px;
        
       img{
        width: 100%;
        height: 100%;
       }
    }
    .slick-center{
        opacity: 1;

    }
    .slick-arrow{
       
        position: absolute;
        top: 50%;
        margin: -30px 0 0 0;
        z-index: 10;
        font-size: 0;
        width: 30px;
        height: 50px;
        
    }
    .slick-arrow.slick-disabled{
        opacity: 0.2;
    }
    .slick-arrow.slick-prev{
        left:0;
        background: url('images/sl-arrow_l.svg') 0 0 / 100% no-repeat;

    }
    .slick-arrow.slick-next{
        right:0;
        background: url('images/sl-arrow_r.svg') 0 0 / 100% no-repeat;
    }
   
    .slick-dots{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 1em;
        
        button{
            font-size: 0em;
            width: 10px;
            height: 10px;
            background-color: $clr_white;
            border-radius: 50%;
        }
        li{
            list-style: none;
            margin: 0 10px;
           
        }
        .slick-active{
            button{
                background-color: transparent;
                border: 2px solid $clr_gold;
             
            }
        }
    }
    
}
.all_reviews__button{
        
    text-align: center;
    margin-bottom: 1.5em;
    margin-top: 1em;
    
    .button{
        padding: 10px 30px;
        
        &:hover{
            @extend %button_hover;
        }
        &:not(:hover) {
            transition: all 0.5s ease;
        }
    }
}


.form{
    border: 4px solid #FFFFFF;
    border-radius: 8px;
    position: relative;
    max-width: 700px;
    height: 325px;
    margin:0 auto;
    
    .form__title{
        color: $clr_gold;
        font-weight: 700;
        font-size: 2em;
        line-height: 133%;
        text-align: center;
        margin-top: 30px;
    }
    .form__content{
        font-weight: 400;
        font-size: 1em;
        line-height: 143%;
        max-width: 450px;
        margin: 0 auto;
        text-align: center;
        padding-top: 10px;
        color: $clr_white;
    }
    .form__phone{
        margin-top: 10px;
        text-align: center;
        
        .phone{
            padding: 20px 10px;
            background: #F2F6FA;
            border-radius: 8px;
            color: $clr_black;
            font-size: 1.5em;
            text-align: center;  
        }
        &:placeholder{
            color: $clr_black;
            opacity: 0.6;
        }
    }
    .form__button{
        text-align: center;
        margin-top: 30px;
        transition: all 0.3s ease;
        cursor: pointer;
        .button{
            
            background: #D0A452;
            padding: 10px 30px;
            font-size: 1.2em;
            color: $clr_black;
            &:hover{
                color: $clr_white;
                background: $clr_black;
                border: 1px solid $clr_gold;
            }
            &:not(:hover) {
                transition: all 0.9s ease;
            }
        }
    } 
}
footer{
    background-color: #24262b;
    padding: 50px 0;
    margin-top: 3.5em;
    
    .footer__content{
        max-width: 1100px;
	    margin: 0 auto;
    }
}
.footer__row{
    display: flex;
	
    
    .footer__col{
        width: 25%;
        padding: 0 10px;
        h4{
            font-size: 18px;
	        color: $clr_white;
	        text-transform: capitalize;
	        margin-bottom: 35px;
	        position: relative;
            &::before{
                content: '';
	            position: absolute;
	            left:0;
	            bottom: -10px;
	            background-color: $clr_gold;
	            height: 2px;
	            box-sizing: border-box;
	            width: 50px;
            }
        }
        .footer__phone{
            font-size: 18px;
            color: $clr_gold;
        }
        .footer__timetable{
            font-size: 16px;
            color: $clr_white;
        }
        .footer__logo{
            overflow: hidden;
            display: flex;
            margin-top: 5px;
            .title{
                font-size: 19px;
                color: $clr_white;
	            margin-left: 5px;
	            margin-top: 15px;
            }
        }
        ul.footer__col__list{
            li.footer__col__item{
                &:not(:last-child){
                    margin-bottom: 10px;
                }
                a{
                    font-size: 16px;
	                text-transform: capitalize;
	                color: $clr_white;
	                text-decoration: none;
	                font-weight: 300;
	                color: #bbbbbb;
	                display: block;
	                transition: all 0.3s ease;
                    &:hover{
                        color: $clr_white;
	                    padding-left: 8px;
                    }
                    &:not(:hover) {
                        transition: all 0.9s ease;
                    }
                }
            }
        }
        .social_links{
            a{
                display: inline-block;
	            height: 40px;
	            width: 40px;
	            background-color: rgba(255,255,255,0.2);
	            margin:0 10px 10px 0;
	            text-align: center;
	            line-height: 40px;
	            border-radius: 50%;
	            color: $clr_white;
	            transition: all 0.5s ease;
                &:hover{
                    color: #24262b;
	                background-color: $clr_white;
                }
                &:not(:hover) {
                    transition: all 0.9s ease;
                }
            }
        }
    }

}
@media screen and (max-width:1245px){
    .header{
        .header__body{
            
            .header__menu{
                width: 35%;
            }
        }
    }
    
}
@media screen and (max-width:1200px){
    .container{
        max-width: 970px;
        .destinations__button{
            display: inline-block;
            .button{
                margin-top: 1em;
            }
           }
        
        .header_bottom{
            .top{
                column-gap: 31.5rem;
            }
            .bottom{
                margin-left: -540px;
            }
            
        }
        
        
     
    }
    .header{
        .header__body{
            column-gap: 8em;
            .header__menu{
                width: 33%;
            }
        }
    }
    .container_info{
        .info{
            
            .info__img{
                padding-top: 15px;
               
            }
        }
        
    }
   
  
    .desktop_big{
        display: none;
       }
    
}
@media screen and  (max-width:992px){
    .container{
        max-width: 750px;
       
        .header_bottom{
            .top{
                column-gap: 15.3rem;
            }
            .bottom{
                margin-left: -320px;
            }
            
        }
        
    }
    .header{
        .header__body{
            column-gap: 7em;
            .icon-tabler-phone-call{
                display: none;
            }
            .social-links{
                display: none;
            }
            .profile__title{
                display: none;
            }
           .header__menu{
                width: 40%;
           }
        }
    }
   .container_info{
        .info{
            
            .info__img{
                padding-top: 15px;
               
            }
        }
    }
   .desktop_small{
        display: none;
   } 
    
}
@media screen and (max-width:781px){
    .container{
        max-width: none;
        
      
      
       .header_bottom{
            .top{
            column-gap: 10.2rem;
        }
            .bottom{
            margin-left: -245px;
        }
        
        }
       
    }
    .header{
        .header__body{
            column-gap: 5em;
            .phone{

                font-size: 1.4em;
           }
           .header__menu{
                width: 50%;
            }
        }
       
    }
    .container_info{
        .info{
            flex-direction:column;
            
            .info__content{
                text-align: center;
                h3{
                    padding-bottom: 60px;
                }
                .text{
                    display: none;
                    
                }
            }
        }
    }
    .form{
        max-width: 600px;
    }
    
    .inform{
        flex: 0 0 45%;
    }
    .footer__row{
        justify-content: center;
        margin-right: 2em;
        .footer__logo{
            padding-top: -20px;
        }
    }
    
    .tablet{
        display: none;
    }
    
}
@media screen and (max-width:685px){
    .container{
       
        .header_bottom{
            .top{
                column-gap: 11.5rem;
                a{
                    span{
                        display: none;
                    }
                    svg{
                        width:32px;
                        height:32px;
                    }
                }
               
        }
            .bottom{
                margin-left: -75px;
        }
       
        
        }
    }
    .header{
        .header__body{
            column-gap: 7rem;
           
            .phone{
                display: none;
            }
            .header__menu{
                width: 100%;
            }
            .header__list{

                li{
                    
                    text-align: center;
                    
                }
            }
           
        }
    }
    .form{
        max-width: 500px;
        .form__title{
            font-size: 1.5em;
            
        }
        .form__content{
            max-width: 450px;
        }
    }
    .next, .prev{
        display: none;
    }
   
}
@media screen and (max-width:575px){
    .container{
        
        .header_bottom{
            .top{
            column-gap: 9.5rem;
        }
            .bottom{
            margin-left: -45px;
        }
        
        }
    }
    
    .header{
        .header__body{
            column-gap: 6rem;
           
           
           
        }
    }
    .form{
        max-width: 450px;
        .form__title{
            font-size: 1.5em;
            
        }
        .form__content{
            max-width: 350px;
        }
    }
    
   .mobile{
    display: none;
   }
   .container__info{
    .info{
        
        .info__content{
            max-width: 400px;
        }
    }
}
}