@import "../blocks/halls";
@import "../blocks/galery";
@import "../blocks/map";
@import "../blocks/reviews";
@import "../blocks/sales";
@import "../blocks/subscriptions";
@import "../blocks/trainers";
@import "../layout/header";
@import "../layout/footer";
@import "../core/_core";
@import "../blocks/form";
.header_bottom{
        margin-top: 5em;
        background: url(../../images/1.png);
        background-size: cover;
        max-width: 100%;
        min-height: 80vh;
        padding-top: 50px;
    .header_bottom__content{
        margin: 0 auto;
        max-width: 900px;
        height: 525px;
        background: rgba(1, 1, 1, 0.8); 
        padding-left: 90px;
    }
    .header_bottom__title{
        font-weight: 700;
        font-size: 2.4em;
        line-height: 60px;
        letter-spacing: -1px;
        color: $clr_white;
        padding-top: 70px;
    }
    .header_bottom__subtitle{
        max-width: 70%;
        font-weight: 400;
        font-size: 1.3em;
        line-height: 143%;
        letter-spacing: -0.2px;
        padding-top: 30px;
        color: $clr_gold;
        padding-bottom: 80px;
    }
    a{
        background: none;
        padding: 30px 50px;
       
        &:hover{
            @extend %button_hover;
        }
        &:not(:hover) {
            transition: all 0.9s ease;
        }
    }
}
@media screen and (max-width:1245px){
    .header{
        .header__body{
            
            .header__menu{
                width: 35%;
            }
        }
    }
    
}
@media screen and (max-width:1200px){
    .container{
        max-width: 970px;
        .halls__button{
            display: inline-block;
            .button{
                margin-top: 1em;
            }
       
        .header_bottom__content{
            height: 30em;
            width: 50em;
        }  
     
        }
    }
    .header{
        .header__body{
            column-gap: 8em;
            .header__menu{
                width: 33%;
            }
        }
    }
    
   
    .galery{
        display: none;
    }
  
    .desktop_big{
        display: none;
       }
    .sales{
        max-width: 970px; 
    }
   
}
@media screen and  (max-width:992px){
    .container{
        max-width: 750px;
        
    }
    .header{
        .header__body{
            column-gap: 7em;
            .icon-tabler-phone-call{
                display: none;
            }
            .social-links{
                display: none;
            }
            .profile__title{
                display: none;
            }
           .header__menu{
                width: 40%;
           }
        }
    }
    .header_bottom__content{
        width: 40em;
       .header_bottom__subtitle{
           max-width: 80%;
       }
        
        
        
    }
    .galery{
        display: none;
    }
   .desktop_small{
    display: none;
   } 
    
}
@media screen and (max-width:781px){
    .container{
        max-width: none;
        iframe{
            max-width: 650px;
            height: 400px;
       } 
      
       
    }
    .header{
        .header__body{
            column-gap: 5em;
            .phone{

                font-size: 1.4em;
           }
           .header__menu{
                width: 50%;
            }
        }
       
    }
    
    .header_bottom__content{
        width: 30em;
   }
    .form{
        max-width: 600px;
    }
    .tablet{
        display: none;
    }
    .info{
        flex: 0 0 45%;
    }
    .footer__row{
        justify-content: center;
        margin-right: 2em;
        .footer__logo{
            padding-top: -20px;
        }
    }
   
}
@media screen and (max-width:685px){
    .container{
        iframe{
            max-width: 500px;
            height: 350px;
       } 
        
       
        
    }
    .header{
        .header__body{
            column-gap: 7rem;
           
            .phone{
                display: none;
            }
            .header__menu{
                width: 100%;
            }
            .header__list{

                li{
                    
                    text-align: center;
                    
                }
            }
           
        }
    }
    .form{
        max-width: 500px;
        .form__title{
            font-size: 1.5em;
            
        }
        .form__content{
            max-width: 450px;
        }
    }
    .next, .prev{
        display: none;
    }
    
}
@media screen and (max-width:575px){
    .container{
        iframe{
            max-width: 450px;
            height: 300px;
        } 
       
       .subscriptions_items{
        max-width: 1000px;
            .subscription{
                max-width: 450px;
                .subscription__price{
                    padding-left: 315px;
                }
                .button{
                    margin-left: 290px;
                }
            } 
        }    
   
        
    }
    .header{
        .header__body{
            column-gap: 6rem;
           
           
           
        }
    }
    .form{
        max-width: 450px;
        .form__title{
            font-size: 1.5em;
            
        }
        .form__content{
            max-width: 350px;
        }
    }
    .header_bottom__content{
        width: 25em;
        .header_bottom__title{
            margin-left: -10px;
            
        }
        .header_bottom__subtitle{
            text-align: center;
            margin-left: -10px;
            
        }
        a{
            margin-left: -10px;
        }
   }
   .mobile{
    display: none;
   }

}
